{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

    <script type="text/javascript">
        function reveal()
        {
            var signup_submit = $('#signup_submit');
            if($("#terms_conditions_check").is(':checked')) {
                signup_submit.prop('disabled', false);
            } else {
                signup_submit.prop('disabled', true);
            }
        }
    </script>



    <h1>{% trans "Sign Up" %}</h1>

    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-body">

                    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

                    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                        {% csrf_token %}

                        {#                          {{ form.as_p }}#}

                        <fieldset>
                            <legend>{{ title }}</legend>
                            {% for field in form %}
                                {% if field.is_hidden %}
                                {% else %}
                                    {% if field.errors %}
                                        <div class="control-group error">
                                            <label class="control-label col-sm-6">{{ field.label }}</label>
                                            <div class="controls col-sm-6">{{ field }}
                            <span class="help-inline">
                                {% for error in  field.errors %}{{ error }}{% endfor %}
                            </span>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="control-group">
                                            <label class="control-label col-sm-6">{{ field.label }}</label>
                                            <div class="controls col-sm-6">{{ field }}
                                                {% if field.help_text %}
                                                    <p class="help-inline"><small>{{ field.help_text }}</small></p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                        <div class="control-group">
                                            <label for="terms_conditions_check" class="control-label col-sm-6">{% blocktrans %}I accept the terms and conditions{% endblocktrans %}</label>
                                            <div class="controls col-sm-6">
                                                <input type="checkbox" id="terms_conditions_check" onclick ="reveal()">

                                                    <p class="help-inline">
                                                        <small><a target="_blank" href="{% url 'terms_conditions' %}">{% blocktrans %}View terms and conditions{% endblocktrans %}</a></small>
                                                    </p>
                                            </div>
                                        </div>

                        </fieldset>

                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <button id="signup_submit" disabled="disabled" class="pull-right btn btn-info" type="submit">{% trans "Sign Up" %} &raquo;</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
