.leaflet-top {
    z-index: 500;
}

#map_div > div.leaflet-control-container > div.leaflet-top.leaflet-right {
    z-index: 1500;
}

#map_div > div.leaflet-control-container > div.leaflet-bottom.leaflet-right {
    width: 80%;
}


#map_div > div.leaflet-control-container > div.leaflet-bottom.leaflet-right > div.info.legend.leaflet-control {
    /*max-height: 50%;*/
    overflow-y: scroll;
    line-break: strict;
    word-break: normal;
    max-width: 50%;
    max-height: 50%;
}

#map_div > div.leaflet-control-container > div.leaflet-top.leaflet-right > div.leaflet-control-layers.leaflet-control.leaflet-control-layers-expanded {
    z-index: 1001;
}

#remote_search_btn {
    font-size: 14px;
}

#search-remote-form > table > tbody > tr > td > select {
    width: 100%;
}

.custom-search-form {
    padding: 2px
}

#data_cell_radio > div > div > label {
    width: 100%;
}

#topojson_geography_radio > div > label {
    width: 100%;
}

#dataset_radio > div > label {
    width: 100%;
}

.dataset_ul > li { background: #fff; }
.dataset_ul > li:nth-child(odd) { background: #f5f5f5; }

.ui-dialog {
    z-index: 1001;
}

#login_panel > div > ul {
    list-style: none;
    padding-left:0;
}

.dataTable_wrapper {
    width: 100%;
}

.dataTable_wrapper > table {
    width: 100%;
}

.north_arrow {
    font-family: cursive;
    color: #777;
    font-size: 26px;
    line-height: 30px;
}

.arrow_center {
    padding-left: 0.13em;
}

.dialog_radio_option {
    width: 100%
}


.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;

}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    text-align: left;
    line-height: 18px;
    color: #555;

    /*position: fixed;*/
    /*display: block;*/
    /*bottom: 20px;*/


    /*width: -moz-min-content;*/
    /*width: -webkit-min-content;*/
    /*width: min-content;*/
}
.legend i {
    width: 2em;
    height: 1em;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
    border: 1px ridge black;
}

.legend_accordion {
    resize: both;
    overflow: auto;
}

.wms_layer_active {
    color: orangered;
}

@media (min-width: 768px) {
    .page-wrapper {
        padding: 0 15px !important;
    }
}

.scrollable_ul {
    max-height: 15em;
    overflow-y: auto;
    overflow-x: hidden;
}

#side-menu a {
    /*#side-menu > li > ul > li > ul > li > a {*/
    word-break: normal;
    line-break: strict;
}

.panel-group {
    margin-bottom: 5px;
}

.panel-purple {
    border-color: rebeccapurple;
}

.panel-purple .panel-heading {
    color: white;
    border-color: rebeccapurple;
    background-color: rebeccapurple;
}
.panel-purple .panel-footer {
    color: rebeccapurple;
}

.panel-naw {
    border-color: rgb(0, 30, 98);
}

.panel-naw .panel-heading {
    color: white;
    border-color: rgb(0, 30, 98);
    background-color: rgb(0, 30, 98);
}
.panel-naw .panel-footer {
    color: rgb(0, 30, 98);
}


.leaflet-control-layers-toggle {
    height: 4em;
    width: 4em;
    background-color: #651D32;
}

.sidebar_group {
    border: 1px;
    border-color: #777;
    border-style: solid;
    padding: 0.5em;
    margin-top: 1em;
}

.controls {
    min-height: 3em;
}

#drop {
    border:2px dashed #bbb;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    padding:25px;
    text-align:center;
    font:20pt bold,"Vollkorn";color:#bbb
}

.ui-widget-header {
    background: rebeccapurple;
    border: rebeccapurple;
}


.leaflet-control-command-interior
{
    /*background-image: url(images/command.png);*/
    /*background-color: rgb(243, 243, 243);*/
    width: 26px;
    height: 26px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    padding: 3px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
    cursor: pointer;
    text-align: center;
    background-color: #FFFFFF;
}

.leaflet-control-command-interior:hover
{
    background-color: #F4F4F4;
}

.StatsWales {
    /* #561862 */
    border: #561862 2px double !important;
    /*color: darkblue !important;*/
}

.Nomis {
    /* #561862 */
    border: darkgreen 2px double !important;
    /*color: darkblue !important;*/
}