<configuration>

    <system.webServer>
        <httpProtocol>
            <customHeaders>
             <add name="X-Frame-Options" value "ALLOW-FROM https://wiserd.ac.uk/"/>
            <customHeaders>
        <httpProtocol>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <mimeMap fileExtension=".gexf" mimeType="text/xml" />
     </staticContent>

    </system.webServer>

</configuration> 
