
{#<li>#}
{##}
{#    <a href="#" data-layer_name="minetest" class="wiserd_layer_toggle">#}
{#        <i class="fa fa-map-marker fa-fw"></i> MineTest#}
{#    </a>#}
{##}
{#</li>#}

    <li>
        <a href="#" data-wiserd_layer_uuid="WMHpoints" class="wiserd_layer_toggle">
            <i class="fa fa-map-marker fa-fw"></i> All locations
        </a>
    </li>

    <li>
        <a href="#" data-wiserd_layer_uuid="WMHpoints_Installation" class="wiserd_layer_toggle">
            <i class="fa fa-map-marker fa-fw"></i> Installation
        </a>
    </li>

    <li>
        <a href="#" data-wiserd_layer_uuid="WMHpoints_Memorial_Garden" class="wiserd_layer_toggle">
            <i class="fa fa-map-marker fa-fw"></i> Memorial Garden
        </a>
    </li>

    <li>
        <a href="#" data-wiserd_layer_uuid="WMHpoints_Sculpture" class="wiserd_layer_toggle">
            <i class="fa fa-map-marker fa-fw"></i> Sculpture
        </a>
    </li>

    <li>
        <a href="#" data-wiserd_layer_uuid="WMHpoints_Mural" class="wiserd_layer_toggle">
            <i class="fa fa-map-marker fa-fw"></i> Mural
        </a>
    </li>

    <li>
        <a href="#" data-wiserd_layer_uuid="WMHpoints_Plaque" class="wiserd_layer_toggle">
            <i class="fa fa-map-marker fa-fw"></i> Plaque
        </a>
    </li>
