
{#<li>#}
{##}
{#    <a href="#" data-layer_name="minetest" class="wiserd_layer_toggle">#}
{#        <i class="fa fa-map-marker fa-fw"></i> MineTest#}
{#    </a>#}
{##}
{#</li>#}

    <li>
        <a href="#" data-wiserd_layer_uuid="WMHpoints" class="wiserd_layer_toggle">
            <i class="fa fa-map-marker fa-fw"></i> All locations
        </a>
    </li>

    <li>
        <a href="#" data-wiserd_layer_uuid="WMHpoints_Graves" class="wiserd_layer_toggle">
            <i class="fa fa-map-marker fa-fw"></i> Graves
        </a>
    </li>

    <li>
        <a href="#" data-wiserd_layer_uuid="WMHpoints_Memorial_garden" class="wiserd_layer_toggle">
            <i class="fa fa-map-marker fa-fw"></i> Memorial garden
        </a>
    </li>

    <li>
        <a href="#" data-wiserd_layer_uuid="WMHpoints_Blue_Plaque" class="wiserd_layer_toggle">
            <i class="fa fa-map-marker fa-fw"></i> Blue Plaque
        </a>
    </li>

    <li>
        <a href="#" data-wiserd_layer_uuid="WMHpoints_Black_Plaque" class="wiserd_layer_toggle">
            <i class="fa fa-map-marker fa-fw"></i> Black Plaque
        </a>
    </li>

    <li>
        <a href="#" data-wiserd_layer_uuid="WMHpoints_Statue" class="wiserd_layer_toggle">
            <i class="fa fa-map-marker fa-fw"></i> Statue
        </a>
    </li>

    <li>
        <a href="#" data-wiserd_layer_uuid="WMHpoints_Artwork" class="wiserd_layer_toggle">
            <i class="fa fa-map-marker fa-fw"></i> Artwork
        </a>
    </li>

    <li>
        <a href="#" data-wiserd_layer_uuid="WMHpoints_Instalation" class="wiserd_layer_toggle">
            <i class="fa fa-map-marker fa-fw"></i> Instalation
        </a>
    </li>

    <li>
        <a href="#" data-wiserd_layer_uuid="WMHpoints_sculpture" class="wiserd_layer_toggle">
            <i class="fa fa-map-marker fa-fw"></i> sculpture
        </a>
    </li>

    <li>
        <a href="#" data-wiserd_layer_uuid="WMHpoints_Plaque" class="wiserd_layer_toggle">
            <i class="fa fa-map-marker fa-fw"></i> Plaque
        </a>
    </li>