<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="icon" href="/static/dataportal/media/dataportowl.jpg">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="WISERD DataPortal">
    <meta name="author" content="WISERD / Cardiff University">

    <title>WISERD DataPortal v3.5.1a</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/startbootstrap-sb-admin-2-1.0.7/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/static/startbootstrap-sb-admin-2-1.0.7/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/startbootstrap-sb-admin-2-1.0.7/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/startbootstrap-sb-admin-2-1.0.7/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery -->
    <script async="" src="//www.google-analytics.com/analytics.js"></script><script src="/static/startbootstrap-sb-admin-2-1.0.7/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- jQuery Form -->



    <!-- Bootstrap Core JavaScript -->
    <script src="/static/startbootstrap-sb-admin-2-1.0.7/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>




    <!-- Metis Menu Plugin JavaScript -->
    <script src="/static/startbootstrap-sb-admin-2-1.0.7/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/startbootstrap-sb-admin-2-1.0.7/dist/js/sb-admin-2.js"></script>

    <!-- jQuery ui-->
    <script type="text/javascript" src="/static/jquery/ui/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/jquery/ui/jquery-ui-1.11.4.custom/jquery-ui.min.css">

    <!-- DataTables-->
    <script type="text/javascript" src="/static/startbootstrap-sb-admin-2-1.0.7/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>

    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="/static/DataTables-1.10.7/media/css/jquery.dataTables.min.css">

    <link rel="stylesheet" type="text/css" href="/static/bootstrap-social.css">




    <link rel="stylesheet" type="text/css" href="/static/DataTables-1.10.7/extensions/Responsive/css/dataTables.responsive.css">
    <script type="text/javascript" src="/static/DataTables-1.10.7/extensions/Responsive/js/dataTables.responsive.min.js"></script>

    <script type="text/javascript" src="/static/ehpc/bootstrap-waitingfor.min.js"></script>

    <script type="text/javascript" src="/static/jquery/jquery.cookie.js"></script>

    <!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
    <script type="text/javascript">
        window.cookieconsent_options = {"message":"This website uses cookies to ensure you get the best experience on our website","dismiss":"Got it!","learnMore":"More info","link":"http://www.cardiff.ac.uk/help/cookies","theme":"light-bottom"};
    </script>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
    <!-- End Cookie Consent plugin -->




    <script>L_PREFER_CANVAS = true;</script>

    <script>
        String.prototype.format = function() {
            var formatted = this;
            for (var i = 0; i < arguments.length; i++) {
                var regexp = new RegExp('\\{'+i+'\\}', 'gi');
                formatted = formatted.replace(regexp, arguments[i]);
            }
            return formatted;
        };
    </script>

</head>

<body>


    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/dashboard">
                    <p><img style="margin: 0.5em; max-height: 3em; margin-top: -15px; margin-left: -15px" src="/static/dataportal/media/dataportowl.jpg">
                    WISERD DataPortal v3.5.1a</p></a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  AnonymousUser <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">

                            <li><a href="/accounts/login/"><i class="fa fa-sign-in fa-fw"></i> Login</a></li>

                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <form action="/search" method="get" role="search">
                                <div class="input-group custom-search-form">
                                    <input type="text" class="form-control" placeholder="Search..." name="search_terms">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                                </div>
                            </form>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="/dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>


                        <li>
                            <a href="/map"><i class="fa fa-map-marker fa-fw"></i> Map</a>
                        </li>

                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper" style="min-height: 651px;">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">404 Page Not Found</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
                <div class="row">
            <div class="col-lg-12">
                <h3 class="">Sorry, something appears to have gone wrong, or gone missing!</h3>
                <h3 class="">Please either use your browser functions to navigate back to where you came from, or the menu to go to the <a href="{% url 'dashboard' %}">dashboard</a>.</h3>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->



        </div>
        <!-- /#page-wrapper -->

    </div>







<link rel="stylesheet" type="text/css" href="/static/dataportal/dataportal3.css">
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-63102294-1', 'auto');
    ga('send', 'pageview');

</script>


</body>
</html>