{% extends "navigation.html" %}
{% load staticfiles %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Access denied</h1>
            </div>

        {% for access in access_allow.access_data %}
    <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <p>You have access to this {{ access_allow.document_type }} because you are a member of the "{{ access.survey_collection_user_group_name }}" group.</p>
        <p>Please be aware that the information for "{{ access.survey_collection_name}}" has restricted access.</p>
        <p>Contact the WISERD DataPortal admin team for more information</p>
    </div>
        {% endfor %}

            {% if user.is_authenticated %}
                <p>Access is currently prohibited for this {{ access_fail.document_type }} by the owner</p>
                {% if access_fail.contact %}
                    <p>The WISERD DataPortal Admin team may be able to request access from {{ access_fail.contact }} for you.</p>
                {% else %}
                    <p>The WISERD DataPortal Admin team may be able to request access for you.</p>
                {% endif %}

                <p>Click <a href="{% url 'admin_api' %}?method=request_access&document_type={{ access_fail.document_type }}&survey_id={{ access_fail.survey_id }}">here</a> to request access.</p>

            {% else %}
                <p>Access is prohibited for this {{ access_fail.document_type }}.</p>
                <p>Please login to request access to it.</p>
            {% endif %}
        </div>
    </div>

{% endblock %}