{% load i18n %}


<script>

    var i18n_translation = {
        "help_support.help_title.title": "{% trans 'Help and Support' %}",
        "help_support.help_title.content": "{% trans 'This page provides help and support to you while using the DataPortal' %}",
        "help_support.user_guide_link.title": "{% trans 'User Guide' %}",
        "help_support.user_guide_link.content": "{% trans 'If you need more assistance than these tip boxes here is the link to a detailed user help guide.' %}",
        "help_support.support_people.title": "{% trans 'The Experts' %}",
        "help_support.support_people.content": "{% trans 'If you have questions or need more support please contact the experts.' %}",
        "help_support.useful_links.title": "{% trans 'Useful Links' %}",
        "help_support.useful_links.content": "{% trans 'Please find links related to the DataPortal here.' %}",


        "question_detail.question_tab.title": "{% trans 'Question Metadata' %}",
        "question_detail.question_tab.content": "{% trans 'This tab shows metadata for the selected question' %}",
        "question_detail.question_tab_li.title": "{% trans 'Question Metadata' %}",
        "question_detail.question_tab_li.content": "{% trans 'This tab shows metadata for the selected question' %}",
        "question_detail.results_tab_li.title": "{% trans 'Response Metadata' %}",
        "question_detail.results_tab_li.content": "{% trans 'This tab shows metadata for the selected response' %}",
        "question_detail.results_tab.title": "{% trans 'Response Metadata table' %}",
        "question_detail.results_tab.content": "{% trans 'This tab shows metadata for the selected response' %}",


        "browse_surveys.survey_table.title": "{% trans 'Browse Surveys' %}",
        "browse_surveys.survey_table.content": "{% trans 'This page allows you to browse all the surveys available.' %}",
        "browse_surveys.survey_table_filter.title": "{% trans 'Filter' %}",
        "browse_surveys.survey_table_filter.content": "{% trans 'You can filter the table of surveys using key words.' %}",
        "browse_surveys.survey_table_length.title": "{% trans 'View' %}",
        "browse_surveys.survey_table_length.content": "{% trans 'This button allows you to choose the number of surveys you view per page.' %}",


{#        "question_detail.results_tab.title": "{% trans 'Response Metadata table' %}",#}
{#        "question_detail.results_tab.content": "{% trans 'This tab shows metadata for the selected response' %}"#}

    };


    var datatables_language = {
        "sSearch": "{% trans 'Filter :' %}",

        "sLengthMenu": '{% trans 'Display' %} <select>'+
        '<option value="10">10</option>'+
        '<option value="20">20</option>'+
        '<option value="30">30</option>'+
        '<option value="40">40</option>'+
        '<option value="50">50</option>'+
        '<option value="-1">{% trans 'All' %}</option>'+
        '</select> {% trans 'records' %}'
    };


    var i18n_text = {
        'question_row_jump' : {
            'en': 'This button show the questions discovered during the search',
            'cy': 'Welsh text for question_row_jump'
        },
        'question_tab' : {
            'en': 'This tab shows metadata for the selected question',
            'cy': 'Welsh text for question_tab'
        },


{#        'question_row_jump' : {#}
{#            'en': 'This button show the questions discovered during the search',#}
{#            'cy': 'Welsh text for question_row_jump'#}
{#        },#}
    };

</script>

