{% extends "navigation.html" %}
{% load staticfiles %}
{% load i18n %}

{% block page_name %}{% trans 'Browse Surveys' %}{% endblock %}

{% block extra_head %}
    <script type="text/javascript" src="{% static 'dataportal/page_js/browse_surveys.js' %}"></script>


    <script>

        $(document).ready(function(){

            var survey_table = $('#survey_table').DataTable({
                serverSide: false,
                processing: true,
                "bAutoWidth": false,
                responsive: true,
                "pageLength": 30,
                "oLanguage": datatables_language,
                ajax: {
                    url: "{% url 'search_survey_api'%}?show_all=true",
                    type: 'GET',
                    data: function (d) {},
                    dataSrc: function ( json ) {
                        return json['search_result_data'];
                    }
                },
                columns: [
                    {'data': 'survey_title'},
                    {#                    {'data': 'surveyfrequency'},#}
                    {#                    {'data': 'collectionsituation'},#}
                    {'data': 'collectionstartdate'},
                    {
                        "targets": -1,
                        "data": 'identifier',
                        "render": function ( data, type, full, meta ) {
                            return "<a {% if preferences.links_new_tab %}target='_blank'{% endif %} " +
                                    "href='/survey/" + data.trim() + "' class='btn btn-success view_survey'>View</a>";
                        }
                    },

                ]
            });

        });

    </script>


{% endblock %}

{% block content %}
    <div class="container-fluid">

        <div id="survey_row" class="row">
            <h1 class="page-header">
                <i class="icon-background icon-background-red fa fa-list-alt"></i>     {% trans 'Browse Surveys' %}</h1>


            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="survey_table">
                        <thead>
                        <tr>
                            <th>{% trans 'Title' %}</th>
                            {#                                    <th>{% trans 'Frequency' %}</th>#}
                            {#                                    <th>{% trans 'Collection Method' %}</th>#}
                            <th>{% trans 'Date' %}</th>

                            <th>{% trans 'View' %}</th>
                            {#                                    <th>{% trans 'Area' %}</th>#}
                            {#                                    <th>{% trans 'Map' %}</th>#}

                        </tr>
                        </thead>
                        <tbody>
                        <tr><td></td><td></td><td></td></tr>
                        <tr><td></td><td></td><td></td></tr>
                        <tr><td></td><td></td><td></td></tr>
                        <tr><td></td><td></td><td></td></tr>
                        <tr><td></td><td></td><td></td></tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <a id="survey_row" href="#survey_row" class="pull-right">
                <button class="btn btn-info btn-outline">
                    <i class="fa fa-arrow-circle-up"></i> {% trans 'Top' %}
                </button>
            </a>

        </div>

    </div>

{% endblock %}