{% extends "navigation.html" %}
{% load staticfiles %}
{% load jsonify %}


{% block content %}
    <script>
        $(document).ready(function() {

            var all_fields = [];

            var survey_questions_table = $('#dataset_table').DataTable({
                serverSide: false,
                processing: true,
                bAutoWidth: false,
                responsive: true,
                ajax: {
                    url: "{% url 'csv_view_data' 'nomis' search_uuid %}",
                    type: 'GET',
                    data: function (d) {},
                    dataSrc: function ( json ) {
                        return json;
                    }
                },
                columns: {{ dataset_data_header|jsonify }}
            });

            $.ajax({
                url: "{% url 'data_api' %}",
                type: 'GET',
                data: {
                    method: 'search_layer_topojson',
                    search_uuid: '{{ search_uuid }}'
                },
                success: function(data) {
                    {#                    $('#uuid_data').html('<pre>' + JSON.stringify(data['layer_data'], null, 2) + '</pre>');#}
                    var uuid_data_div = $('#uuid_data');

                    all_fields = data['layer_data']['data_names'];

                    for (var data_name_idx in all_fields) {
                        var data_name = all_fields[data_name_idx];

                        var check_div = $('<div/>').addClass('checkbox col-sm-3');
                        uuid_data_div.append(check_div);

                        var check_label = $('<label/>').attr('for', 'check_' + data_name_idx + '_' + data_name)
                                .text(data_name).appendTo(check_div);

                        var check_input = $('<input/>').attr('id', 'check_' + data_name_idx + '_' + data_name)
                                .attr('type', 'checkbox')
                                .attr('name', 'data_fields')
                                .attr('checked', 'checked')
                                .attr('value', data_name)
                                .prependTo(check_label);
                    }
                }
            });

            $('#update_hidden_fields').click(function(){

                var selected_fields = [];

                $("input:checkbox[name|='data_fields']:checked").each(function(){
                    selected_fields.push($(this).val());
                });


                $.ajax({
                    url: "{% url 'data_api' %}",
                    type: 'GET',
                    data: {
                        method: 'update_hidden_fields',
                        search_uuid: '{{ search_uuid }}',
                        selected_fields: selected_fields,
                        all_fields: all_fields
                    },
                    success: function(data) {
                        alert('Saved ' + selected_fields);
                    }
                });
            });
        });

    </script>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Remote Data Search</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
            <h3><a href="{{ dataset_url }}" target="_blank">Dataset Download Link</a></h3>


            <a class="btn btn-info" target="_blank" href="{% url 'map' %}?layers={{ search_uuid }}">Map It</a>

            <div class="panel panel-default">
                <form role="form" lpformnum="1">
                    <div class="panel-heading">
                        <h4>Secondary Attributes</h4>
                    </div>
                    <div class="panel-body">
                        <div id="uuid_data" class="form-group row"></div>
                    </div>
                    <div class="panel-footer">
                        <div id="update_hidden_fields" class="btn btn-info push-right">Save</div>
                    </div>
                </form>
            </div>

            <p>Dataset Retrieved from {{ provider }}</p>
            <p>Dataset ID {{ dataset_id }}</p>
            <p>Search Query Options</p>

            <div>
                {% for key, value in search_options.items %}
                    <p>{{ key }} -- {{ value }}</p>
                {% endfor %}
            </div>

            <p>Mapping colours</p>
            <div>
                {% for key, value in display_options.items %}
                    <p>{{ key }} -- {{ value }}</p>
                {% endfor %}
            </div>

            {#            {{ search_options }}#}
            <p>Unique Identifier for this search: {{ search_uuid }}</p>
            {#            <p>{{ dataset_url }}</p>#}
            {% if error %}
                <p>{{ error }}</p>
            {% endif %}

            {#            {{ dataset_data_header }}#}
            {#            {{ dataset_data_list_full }}#}
        </div>

        <div class="row">
            <table id="dataset_table">
                <thead>
                <tr>
                    {% for table_header in dataset_data_header %}
                        <th>{{ table_header }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                <tr>
                    {% for table_header in dataset_data_header %}
                        <td></td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->

{% endblock %}

