{% extends "navigation.html" %}
{% load staticfiles %}
{% load jsonify %}


{% block content %}
    <script>
        $(document).ready(function() {
            var survey_questions_table = $('#dataset_table').DataTable({
                serverSide: false,
                processing: true,
                bAutoWidth: false,
                responsive: true,
                ajax: {
                    url: "{% url 'csv_view_data' 'nomis' search_uuid %}",
                    type: 'GET',
                    data: function (d) {},
                    dataSrc: function ( json ) {
                        return json;
                    }
                },
                columns: {{ dataset_data_header|jsonify }}
            });
        })

    </script>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Remote Data Search</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
            <h3><a href="{{ dataset_url }}" target="_blank">Dataset Download Link</a></h3>


            <a class="btn btn-info" target="_blank" href="{% url 'map' %}?remote_layer_ids={{ search_uuid }}">Map It</a>
            <p>Dataset Retrieved from {{ provider }}</p>
            <p>Dataset ID {{ dataset_id }}</p>
            <p>Search Query Options</p>

            <div>
                {% for key, value in search_options.items %}
                    <p>{{ key }} -- {{ value }}</p>
                {% endfor %}
            </div>

            <p>Mapping colours</p>
            <div>
                {% for key, value in display_options.items %}
                    <p>{{ key }} -- {{ value }}</p>
                {% endfor %}
            </div>

{#            {{ search_options }}#}
            <p>Unique Identifier for this search: {{ search_uuid }}</p>
{#            <p>{{ dataset_url }}</p>#}
            {% if error %}
                <p>{{ error }}</p>
            {% endif %}

{#            {{ dataset_data_header }}#}
{#            {{ dataset_data_list_full }}#}
        </div>

        <div class="row">
            <table id="dataset_table">
                <thead>
                <tr>
                {% for table_header in dataset_data_header %}
                    <th>{{ table_header }}</th>
                {% endfor %}
                </tr>
                </thead>
                <tbody>
                <tr>
                    {% for table_header in dataset_data_header %}
                    <td></td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->

{% endblock %}

