{% extends "navigation.html" %}
{% load staticfiles %}
{% load i18n %}

{% block page_name %}{% trans 'Events and Presentations' %}{% endblock %}

{% block extra_head %}
    <script type="text/javascript" src="{% static 'dataportal/page_js/events.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 id="events_presentations" class="page-header">
                    <i style="background-color: #d9534f" id="events_logo" class="icon-background icon-background-red fa fa-calendar">

                    </i>   {% trans 'Events and Presentations' %}
                </h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>

        <div class="row">
            <h3>{% trans 'ESRC Festival of Social Science 2016 – WISERD DataPortal demonstration' %}</h3>
            <h4>{% trans '8th November 2016' %}</h4>
            <p>{% trans 'Download the presentation here : ' %}<a id="download_box"
                    href="{% static 'dataportal/docs/WDP_ESRC_Festival_of_Social_Science_08-11-16.pptx' %}">{% trans 'link' %}</a></p>
            <iframe id="presentation_box" src="http://docs.google.com/gview?url=http://data.wiserd.ac.uk/{% static 'dataportal/docs/WDP_ESRC_Festival_of_Social_Science_08-11-16.pptx' %}&embedded=true" style="width:600px; height:500px;" frameborder="0"></iframe>
        </div>

        <div class="row">
            <h3>{% trans 'ESRC Festival of Social Science 2015 – WISERD DataPortal demonstration' %}</h3>
            <h4>{% trans '11th November 2015' %}</h4>
            <p>{% trans 'Download the presentation here : ' %}<a id="download_box"
                    href="{% static 'dataportal/docs/WISERD_DP_Event_11-11-15.pptx' %}">{% trans 'link' %}</a></p>
            <iframe id="presentation_box" src="http://docs.google.com/gview?url=http://data.wiserd.ac.uk/{% static 'dataportal/docs/WISERD_DP_Event_11-11-15.pptx' %}&embedded=true" style="width:600px; height:500px;" frameborder="0"></iframe>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->

{% endblock %}


