{% extends "navigation.html" %}
{% load staticfiles %}

{% block content %}

    <style>
        .fileUpload {
            position: relative;
            overflow: hidden;
        {#            margin: 10px;#}
        }
        .fileUpload input.upload {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }
        #hidden_iframe {
            display: none;
        }
    </style>

    <script>
        $(document).ready(function(){
            document.getElementById("uploadBtn").onchange = function () {
                document.getElementById("upload_file_textbox").value = this.value.replace(/^C:\\fakepath\\/, "");
            };

            $('#X-Progress-ID').val('random string');

            var options = {
                dataType: 'xml',
                url: '{% url 'upload_shapefile' %}?X-Progress-ID=' + $('#X-Progress-ID').val(),
                beforeSubmit: showRequest,
                success: showResponse
            };
            $('#form_upload').ajaxSubmit(options);

            function showRequest(formData, jqForm, options) {
                // do something with formData
                return true;
            }

            function showResponse(response) {
                // do something with response
            }

            $('#form_upload').find('#form_submit_input').append('&lt;span id="uploadprogressbar"&gt;&lt;/span&lt;');
            $('#form_upload').find('#uploadprogressbar').progressbar();

            function startProgressBarUpdate(upload_id) {
                $("#uploadprogressbar").fadeIn();

                if(g_progress_intv != 0) {
                    clearInterval(g_progress_intv);
                }

                g_progress_intv = setInterval(function() {
                    $.getJSON("/get_upload_progress?X-Progress-ID=" + upload_id, function(data) {
                        if (data == null) {
                            $("#uploadprogressbar").progressbar(100);
                            clearInterval(g_progress_intv);
                            g_progress_intv = 0;
                            return;
                        }
                        var percentage = Math.floor(100 * parseInt(data.uploaded) / parseInt(data.length));
                        $("#uploadprogressbar").progressbar(percentage);
                    });
                }, 5000);
            }
        });
    </script>

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Upload ShapeFile</h3>
                </div>
                <div class="panel-body">
                    <iframe id="hidden_iframe" name="hidden_iframe" src="about:blank"></iframe>

                    <form role="form" _lpchecked="1" id="form_upload"
                          enctype="multipart/form-data" target="hidden_iframe"
                          action="{% url 'upload_shapefile' %}" method="POST">
                        <fieldset>
                            <div class="form-group input-group">
                                <input id="upload_file_textbox" type="text" class="form-control" />
                                <div class="input-group-btn">
                                    <div class="fileUpload btn btn-outline btn-default">
                                        <i class="fa fa-search"></i>
                                        <input class="upload" id="uploadBtn" type="file" name="shapefile_upload" />
                                    </div>
                                </div>
                            </div>
                            <div>
                                <p>
                                    <strong>Upload progress</strong>
                                    <span class="pull-right text-muted">0% Complete</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-info"
                                         role="progressbar" aria-valuenow="0"
                                         aria-valuemin="60" aria-valuemax="100" style="width: 20%">
                                        <span class="sr-only">0% Complete</span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <input class="form-control" type="hidden"
                                       id="X-Progress-ID" name="X-Progress-ID" value="">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="hidden" id="id" name="id" value="">
                            </div>
                            <div class="form-group">
                                <input class="btn btn-lg btn-success btn-block"
                                       id="form_submit_button" class="tp-button" type="submit" value="Submit" >
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}