{% extends "navigation.html" %}
{% load staticfiles %}
{% load i18n %}

{% block page_name %}{% trans 'File Management' %}{% endblock %}

{% block content %}

    <script src="{% static 'dropzone.js' %}"></script>
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/jquery.validate.min.js"></script>#}
    <link rel="stylesheet" type="text/css" href="{% static 'dropzone.css' %}" />

    <style>
        #dropzone { margin-bottom: 3rem; }

        .dropzone { border: 2px dashed #0087F7; border-radius: 5px; background: white; }
        .dropzone .dz-message { font-weight: 400; }
        .dropzone .dz-message .note { font-size: 0.8em; font-weight: 200; display: block; margin-top: 1.4rem; }


        .fileUpload {
            position: relative;
            overflow: hidden;
        {#            margin: 10px;#}
        }
        .fileUpload input.upload {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }

    </style>

    <div class="row">
        {% for m in messages %}
            {{ m }}<br>
        {% endfor %}
    </div>


    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{% trans 'Upload ShapeFile' %}</h3>
                </div>
                <div class="panel-body">
                    <form class="dropzone" action="{% url 'upload_shapefile' %}" role="form" id="form_upload" enctype="multipart/form-data" method="POST">
                        {% csrf_token %}
                        <fieldset>
                            <div class="form-group input-group col-md-12 ">
                                <input required="required" id="entry_name" name="shapefile_name" placeholder="Name your Upload" type="text" class="text-entry form-control" />
                            </div>

{#                            <div class="form-group input-group">#}
{#                                <input id="upload_file_textbox" placeholder="Locate File for Upload" name="upload_file_textbox" type="text" class="form-control" />#}
{#                                <div class="input-group-btn">#}
{#                                    <div class="fileUpload btn btn-outline btn-default">#}
{#                                        <i class="fa fa-search"></i>#}
{#                                        <input class="upload" id="uploadBtn" type="file" name="shapefile" />#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}

                            <div class="form-group">
                                <button class="btn btn-lg btn-success btn-block tp-button"
                                        id="form_submit_button" name="submit_button" type="submit" value="Submit" >{% trans 'Submit' %}</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="panel">
            <div class="panel-heading">
                <h3>{% trans 'Uploaded Files' %}</h3>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    {% for shp in user_shapefiles %}
                        <a class="list-group-item"><i class="fa fa-map-o fa-fw"></i>
                            {{ shp.name }}
                            {% if shp.description %}
                                <span> - {{ shp.description }}</span>
                            {% endif %}

                            {% if shp.progress %} - <span style="color:#ff0000; background-color: #ffff00">
                                {{ shp.progress }}</span>
                            {% endif %}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function(){

{#            $('#form_upload').validate({#}
{#                rules: {#}
{#                    shapefile_name: {#}
{#                        required: true#}
{#                    }#}
{#                },#}
{#                submitHandler: function(form) {#}
{#                    // optional callback function#}
{#                    // only fires on a valid form submission#}
{#                    // do something only if/when form is valid#}
{#                    // like process the dropzone queue HERE instead#}
{#                    // then use .ajax() OR .submit()#}
{#                    $(form).submit()#}
{#                }#}
{#            });#}

            Dropzone.options.formUpload = { // The camelized version of the ID of the form element

                // The configuration we've talked about above
                autoProcessQueue: false,
                uploadMultiple: false,
                parallelUploads: 1,
                maxFiles: 1,

                // The setting up of the dropzone
                init: function() {
                    var myDropzone = this;

                    // First change the button to actually tell Dropzone to process the queue.
                    this.element.querySelector("button[type=submit]").addEventListener("click", function(e) {
                        // Make sure that the form isn't actually being sent.
                        e.preventDefault();
                        e.stopPropagation();
                        myDropzone.processQueue();
                    });

                    // Listen to the sendingmultiple event. In this case, it's the sendingmultiple event instead
                    // of the sending event because uploadMultiple is set to true.
                    this.on("sendingmultiple", function() {
                        // Gets triggered when the form is actually being sent.
                        // Hide the success button or the complete form.

                        alert('successmultiple');
                    });
                    this.on("sending", function() {
                        // Gets triggered when the form is actually being sent.
                        // Hide the success button or the complete form.

{#                        alert('sending');#}
                    });
                    this.on("successmultiple", function(files, response) {
                        // Gets triggered when the files have successfully been sent.
                        // Redirect user or notify of success.

                        alert('successmultiple' + response);
                    });
                    this.on("success", function(files, response) {
                        // Gets triggered when the files have successfully been sent.
                        // Redirect user or notify of success.

                        alert('success' + response);
                    });
                    this.on("errormultiple", function(files, response) {
                        // Gets triggered when there was an error sending the files.
                        // Maybe show form again, and notify user of error

                        alert('errormultiple' + response);
                    });
                    this.on("error", function(files, response) {
                        // Gets triggered when there was an error sending the file.
                        // Maybe show form again, and notify user of error

                        alert('error' + response);
                    });
                }

            }

        });
    </script>


{% endblock %}