{% extends "navigation.html" %}
{% load staticfiles %}

{% block content %}

    <script src="{% static 'dropzone.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'dropzone.css' %}" />

    <style>
        #dropzone { margin-bottom: 3rem; }

        .dropzone { border: 2px dashed #0087F7; border-radius: 5px; background: white; }
        .dropzone .dz-message { font-weight: 400; }
        .dropzone .dz-message .note { font-size: 0.8em; font-weight: 200; display: block; margin-top: 1.4rem; }


        .fileUpload {
            position: relative;
            overflow: hidden;
        {#            margin: 10px;#}
        }
        .fileUpload input.upload {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }

    </style>

    <div class="row">
        {% for m in messages %}
            {{ m }}<br>
        {% endfor %}
    </div>


    {#    <form role="form" enctype="multipart/form-data" method="POST" id="form_upload_two" >#}
    {#        {% csrf_token %}#}
    {#        {{ shapefile_form }}#}
    {#        <button type="submit">Submit</button>#}
    {#    </form>#}

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Upload ShapeFile</h3>
                </div>
                <div class="panel-body">
                    <form class="dropzone" action="{% url 'upload_shapefile' %}" role="form" id="form_upload" enctype="multipart/form-data" method="POST">
                        {% csrf_token %}
                        <fieldset>
                            <div class="form-group input-group">
                                <input id="entry_name" name="shapefile_name" placeholder="Name your Upload" type="text" class="text-entry form-control" />
                            </div>

                                                        <div class="form-group input-group">
                                                            <input id="upload_file_textbox" name="upload_file_textbox" type="text" class="form-control" />
                                                            <div class="input-group-btn">
                                                                <div class="fileUpload btn btn-outline btn-default">
                                                                    <i class="fa fa-search"></i>
                                                                    <input class="upload" id="uploadBtn" type="file" name="shapefile" />
                                                                </div>
                                                            </div>
                                                        </div>
                            <div class="form-group">
                                <button class="btn btn-lg btn-success btn-block tp-button"
                                        id="form_submit_button" name="submit_button" type="submit" value="Submit" >Submit</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="panel">
            <div class="panel-heading">
                <h3>Uploaded Files</h3>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    {% for shp in user_shapefiles %}
                        <a class="list-group-item"><i class="fa fa-map-o fa-fw"></i>
                            {{ shp.name }} - {{ shp.description }}
                            {% if shp.progress %}
                                <span style="color:#ff0000; background-color: #ffff00"> - {{ shp.progress }}</span>
                            {% endif %}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function(){

            {#            $("#form_upload").dropzone({url: "{% url 'upload_shapefile' %}"});#}
            {#        $(":file").filestyle({buttonBefore: true});#}

            {#            $("#form_upload_two").uploadprogress({#}
            {#                redirect_url: "{% url 'upload_shapefile' %}"#}
            {#            });#}

{#            document.getElementById("uploadBtn").onchange = function () {#}
{#                document.getElementById("upload_file_textbox").value = this.value.replace(/^C:\\fakepath\\/, "");#}
{#            };#}

            Dropzone.options.formUpload = { // The camelized version of the ID of the form element

                // The configuration we've talked about above
                autoProcessQueue: false,
                uploadMultiple: false,
                parallelUploads: 1,
                maxFiles: 1,

                // The setting up of the dropzone
                init: function() {
                    var myDropzone = this;

                    // First change the button to actually tell Dropzone to process the queue.
                    this.element.querySelector("button[type=submit]").addEventListener("click", function(e) {
                        // Make sure that the form isn't actually being sent.
                        e.preventDefault();
                        e.stopPropagation();
                        myDropzone.processQueue();
                    });

                    // Listen to the sendingmultiple event. In this case, it's the sendingmultiple event instead
                    // of the sending event because uploadMultiple is set to true.
                    this.on("sendingmultiple", function() {
                        // Gets triggered when the form is actually being sent.
                        // Hide the success button or the complete form.

                        alert('successmultiple');
                    });
                    this.on("successmultiple", function(files, response) {
                        // Gets triggered when the files have successfully been sent.
                        // Redirect user or notify of success.

                        alert('successmultiple' + response);
                    });
                    this.on("success", function(files, response) {
                        // Gets triggered when the files have successfully been sent.
                        // Redirect user or notify of success.

                        alert('success' + response);
                    });
                    this.on("errormultiple", function(files, response) {
                        // Gets triggered when there was an error sending the files.
                        // Maybe show form again, and notify user of error

                        alert('errormultiple' + response);

                    });
                }

            }

        });
    </script>


{% endblock %}