{% extends "navigation.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{% trans 'Help and Support' %}</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
            <h2>{% trans 'Help' %}</h2>
            <p>{% trans 'Download or view Usage Guide here' %}</p>
        </div>
        <div class="row">
            <h2>{% trans 'Support' %}</h2>
            <h4>{% trans 'Contact Us' %}</h4>
            <p>
                <a href="http://www.wiserd.ac.uk/how-to-contact-us/" target="_blank">{% trans 'Contact WISERD' %}</a>
            </p>
            <p>{% trans 'Scott Orford, Project PI : OrfordS (at) cardiff.ac.uk' %}</p>
            <p>/p>{% trans 'Ian Harvey, Lead Software Engineer/ Developer: HarveyIC (at) cardiff.ac.uk' %}</p>
            <p>{% trans 'Sam Jones, Research Technician : JonesS97 (at) cardiff.ac.uk' %}</p>

        </div>

        <div class="row">
            <h2>{% trans 'Change Log' %}</h2>

            <h3>v2.0</h3>
            <h4>{% trans 'December 2nd, 2013' %}</h4>
            <ul>
                <li style="list-style-type:square">
                {% trans 'Tidying up for development hiatus' %}
            </li>
            <li style="list-style-type:square">
                {% trans 'Addition of this information to welcome screen (data taken from github commit logs)' %}
            </li>
            <li style="list-style-type:square">
                {% trans 'Bug fixes' %}
            </li>
            </ul>




            <h3>v1.9</h3>
            <h4>{% trans 'November 13th, 2013' %}</h4>
            <ul>
                <li style="list-style-type:square">
                {% trans 'Reads and displays response tables from database metadata' %}
            </li>
            <li style="list-style-type:square">
                {% trans 'Increase metadata access through linking of orphaned metadata IDs' %}
            </li>
            <li style="list-style-type:square">
                {% trans 'Early stages of ONS API integration' %}
            </li>
            <li style="list-style-type:square">
                {% trans 'Bug fixes' %}
            </li>
            </ul>




            <h3>v1.8</h3>
            <h4>{% trans 'October 7th, 2013' %}</h4>
            <li style="list-style-type:square">
                {% trans 'Huge update to database access security and speed' %}
            </li>
            <li style="list-style-type:square">
                {% trans 'Qualitative data tagging added to Data Entry tools' %}
            </li>
            <li style="list-style-type:square">
                {% trans 'Review of APIs used to generate Qual metadata' %}
            </li>
            <li style="list-style-type:square">
                {% trans 'Increase database continuity and metadata mapping connectivity' %}
            </li>
            <li style="list-style-type:square">
                {% trans 'Bug fixes' %}
            </li>




            <h3>v1.7</h3>
            <h4>{% trans 'August 6th, 2013' %}</h4>
            <li style="list-style-type:square">
                {% trans 'New Data Entry toolkit developed and embedded within the DataPortal' %}
            </li>
            <li style="list-style-type:square">
                {% trans 'User and Project Management GUI panel added' %}
            </li>
            <li style="list-style-type:square">
                {% trans 'Yii RBAC (role based access control) added to the back-end' %}
            </li>
            <li style="list-style-type:square">
                {% trans 'Bug fixes' %}
            </li>




            <h3>v1.6</h3>
            <h4>{% trans 'June 4th, 2013' %}</h4>
            <li style="list-style-type:square">
                {% trans 'Database query efficiencies' %}
            </li>
            <li style="list-style-type:square">
                {% trans 'Remote data from Neighbourhood Statistics' %}
            </li>
            <li style="list-style-type:square">
                {% trans 'Updates to advanced search speed, relevance and pagination of results' %}
            </li>
            <li style="list-style-type:square">
                {% trans 'Analysis of Database consistency issues' %}
            </li>
            <li style="list-style-type:square">
                {% trans 'Bug fixes' %}
            </li>


            <p>
            </p><h3>v1.5</h3>
            <h4>{% trans 'April 12th, 2013' %}</h4>
            <li style="list-style-type:square">
                {% trans 'GeoPortal -&gt; DataPortal rebranding' %}
            </li>
            <li style="list-style-type:square">
                {% trans 'Increased brower compatibility' %}
            </li>
            <li style="list-style-type:square">
                {% trans 'Bug report and sign-up emails' %}
            </li>
            <li style="list-style-type:square">
                {% trans 'Advanced search added' %}
            </li>
            <li style="list-style-type:square">
                {% trans 'Remote data feed from NomisWeb added' %}
            </li>
            <li style="list-style-type:square">
                {% trans 'Matching of local WISERD metadata to remote datasets' %}
            </li>
            <li style="list-style-type:square">
                {% trans 'SLD layer icons and legend creation and rendering' %}
            </li>
            <li style="list-style-type:square">
                {% trans 'Bug fixes' %}
            </li>
            <p></p>



            <p>
            </p><h3>v1.0</h3>
            <h3>{% trans 'Feb 16th, 2013' %}</h3>
            <li style="list-style-type:square">
                {% trans 'A complete rewrite of the back end to use Yii' %}
            </li>
            <li style="list-style-type:square">
                {% trans 'User registration and login fixed' %}
            </li>
            <li style="list-style-type:square">
                {% trans 'Search efficiency optimised' %}
            </li>
            <li style="list-style-type:square">
                {% trans 'Logging added' %}
            </li>
            <li style="list-style-type:square">
               {% trans 'Updated OpenLayers to v2.12' %}
            </li>
            <li style="list-style-type:square">
                {% trans 'Account and Password management updated' %}
            </li>
            <li style="list-style-type:square">
                {% trans 'Bug fixes' %}
            </li>



            <p>
            </p><h3>v0.1 alpha</h3>
            <h4>{% trans 'Early 2012' %}</h4>
            <li>
                {% trans 'The initial release of the WISERD GeoPortal at University of Glamorgan' %}
            </li>

        </div>
    </div>
    <!-- /.row -->
    </div>
    <!-- /.container-fluid -->

{% endblock %}

