{% extends "navigation.html" %}
{% load staticfiles %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Help and Support</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
            <h3>Help</h3>
            <h4>Download or view Usage Guide here</h4>
        </div>
        <div class="row">
            <h3>Support</h3>
            <h4>Contact Us</h4>

            <p>Scott Orford, Project PI : OrfordS (at) cardiff.ac.uk</p>
            <p>Ian Harvey, Lead Software Engineer/ Developer: HarveyIC (at) cardiff.ac.uk</p>
            <p>Sam Jones, IT/ admin support : JonesS97 (at) cardiff.ac.uk</p>

        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->

{% endblock %}

