{% extends "navigation.html" %}
{% load staticfiles %}

{% block extra_head %}
    <script>L_PREFER_CANVAS = true;</script>


    {#  Remote leaflet  #}
    {#    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css"/>#}
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>#}

    {#  local leaflet  #}
    <script type="text/javascript" src="{% static 'leafletjs.com/leaflet-0.7.3/leaflet.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'leafletjs.com/leaflet-0.7.3/leaflet.css' %}" />

    <script type="text/javascript" src="https://rawgithub.com/kartena/Proj4Leaflet/master/lib/proj4-compressed.js"></script>
    <script type="text/javascript" src="https://rawgit.com/kartena/Proj4Leaflet/master/src/proj4leaflet.js"></script>

    {#  remote mapbox - use this is leaflet, probably not both  #}
    {#    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>#}
    {#    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />#}


    {#  remote mapbox draw buttons  #}
    {#    <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.js'></script>#}
    {#    <link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.css' rel='stylesheet' />#}


    {#  local mapbox draw buttons  #}
    {#    <link rel="stylesheet" type="text/css" href="{% static 'mapbox.js/plugins/Leaflet.draw-master/dist/leaflet.draw.css' %}"/>#}
    {#    <script type="text/javascript" src="{% static 'mapbox.js/plugins/Leaflet.draw-master/dist/leaflet.draw.js' %}"></script>#}

    {#  local leaflet draw - with touch!  #}
    <link rel="stylesheet" type="text/css" href="{% static 'Leaflet.draw-master/dist/leaflet.draw.css' %}"/>
    <script type="text/javascript" src="{% static 'Leaflet.draw-master/dist/leaflet.draw.js' %}"></script>

    {#    <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-geodesy/v0.1.0/leaflet-geodesy.js'></script>#}
    <script type="text/javascript" src="{% static 'mapbox.js/plugins/leaflet-geodesy/v0.1.0/leaflet-geodesy.js' %}"></script>

    {#    <script src="http://code.jquerygeo.com/jquery.geo-1.0.0-b2.min.js"></script>#}
    <script type="text/javascript" src="{% static 'code.jquerygeo.com/jquery.geo-1.0.0-b2.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'jscoord-1.1.1.js' %}"></script>

    {#    <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-image/v0.0.4/leaflet-image.js'></script>#}
    <script type="text/javascript" src="{% static 'mapbox.js/plugins/leaflet-image/v0.0.4/leaflet-image.js' %}"></script>

    <script type="text/javascript" src="{% static 'leaflet-search/leaflet-search.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'leaflet-search/leaflet-search.css' %}"/>

    {#    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.2.0/leaflet-omnivore.min.js'></script>#}

    <script src="http://d3js.org/topojson.v1.min.js"></script>

    <script type="text/javascript" src="{% static 'chroma.min.js' %}"></script>

    <script>
        L.TopoJSON = L.GeoJSON.extend({
            addData: function(jsonData) {
                if (jsonData.type === "Topology") {
                    for (key in jsonData.objects) {
                        geojson = topojson.feature(jsonData, jsonData.objects[key]);
                        L.GeoJSON.prototype.addData.call(this, geojson);
                    }
                }
                else {
                    L.GeoJSON.prototype.addData.call(this, jsonData);
                }
            }
        });
        // Copyright (c) 2013 Ryan Clark
    </script>

    <style>
        .info {
            padding: 6px 8px;
            font: 14px/16px Arial, Helvetica, sans-serif;
            background: white;
            background: rgba(255,255,255,0.8);
            box-shadow: 0 0 15px rgba(0,0,0,0.2);
            border-radius: 5px;
        }
        .info h4 {
            margin: 0 0 5px;
            color: #777;
        }

        .legend {
            text-align: left;
            line-height: 18px;
            color: #555;
        }
        .legend i {
            width: 18px;
            height: 18px;
            float: left;
            margin-right: 8px;
            opacity: 0.7;
        }
        .wms_layer_active {
            color: orangered;
        }

        #page-wrapper {
            padding: 0;
        }

        .scrollable_ul {
            max-height: 15em;
            overflow-y: auto;
            overflow-x: hidden;
        }
    </style>

{% endblock %}

{% block nav_extras %}
    <li>
        <a href="#"><i class="fa fa-sitemap fa-fw"></i> Map layers<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            {#            <li>#}
            {#                <a href="#"> Current Layers<span class="fa arrow"></span></a>#}
            {#                <ul  id="layer_list" class="nav nav-third-level">#}
            {##}
            {#                </ul>#}
            {#            </li>#}
            <li>
                <a href="#"> Add Feature<span class="fa arrow"></span></a>
                <ul class="nav nav-third-level">
                    <li>
                        <a href="#" id="new_annotation"><i class="fa fa-map-marker fa-fw"></i> New Annotation</a>
                    </li>
                    <li>
                        <a id="new_layer_btn" href="#"><i class="fa fa-map-marker fa-fw"></i> New Layer</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"> WMS Layer<span class="fa arrow"></span></a>
                <ul class="nav nav-third-level scrollable_ul">
                    {% for wms_layer in wms_layers %}
                        <li>
                            <a href="#" data-layer_name="{{ wms_layer.tile_name }}" class="wms_toggle">
                                <i class="fa fa-map-marker fa-fw"></i> {{ wms_layer.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
            <li>
                <a href="#"> WISERD Research<span class="fa arrow"></span></a>
                <ul class="nav nav-third-level scrollable_ul">
                    {% for upload_layer in upload_layers %}
                        <li>
                            <a href="#" data-layer_name="{{ upload_layer.table_name }}" class="upload_layer_toggle">
                                <i class="fa fa-map-marker fa-fw"></i> {{ upload_layer.display_name }}</a>
                        </li>
                    {% endfor %}

                    {% for wiserd_layer in wiserd_layers %}
                        <li>
                            <a href="#" data-layer_name="{{ wiserd_layer.table_name }}" class="wiserd_layer_toggle">
                                <i class="fa fa-map-marker fa-fw"></i> {{ wiserd_layer.display_name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </li>
{% endblock %}

{% block content %}
    <script>

        $(document).ready(function () {

            var wms_layers = {};
            var topojson_layers = {};

            function toggle_layer(toggle_button) {
                var btn_layer_name = $(toggle_button).data('layer_name');

                {#                Remove the class regardless what's about to happen, can be added back again #}
                $(toggle_button).removeClass('wms_layer_active');
                if (wms_layers.hasOwnProperty(btn_layer_name)) {
                    map.removeLayer(wms_layers[btn_layer_name]);
                    delete wms_layers[btn_layer_name];
                } else {
                    $(toggle_button).addClass('wms_layer_active');
                    var inspire = L.tileLayer.wms("http://inspire.wales.gov.uk/maps/wms", {
                        layers: btn_layer_name,
                        format: 'image/png',
                        transparent: true,
                        attribution: "inspire.wales.gov"
                    });
                    wms_layers[btn_layer_name] = inspire;
                    inspire.addTo(map);
                }
            }

            function toggle_wiserd_layer(toggle_button) {
                var btn_layer_name = $(toggle_button).data('layer_name');

                {#                Remove the class regardless what's about to happen, can be added back again #}
                $(toggle_button).removeClass('wms_layer_active');
                if (map_layers.hasOwnProperty(btn_layer_name)) {
                    map.removeLayer(map_layers[btn_layer_name]);
                    delete map_layers[btn_layer_name];
                } else {
                    $(toggle_button).addClass('wms_layer_active');

                    get_geojson_layer('wiserd_layer', [btn_layer_name]);
                }
            }

            $('.wms_toggle').click(function () {
                toggle_layer(this)
            });

            $('.wiserd_layer_toggle').click(function () {
                toggle_wiserd_layer(this)
            });

            $('.upload_layer_toggle').click(function () {
                toggle_upload_layer(this)
            });

            function toggle_upload_layer(toggle_button) {
                var btn_layer_name = $(toggle_button).data('layer_name');

                {#                Remove the class regardless what's about to happen, can be added back again #}
                $(toggle_button).removeClass('wms_layer_active');
                if (map_layers.hasOwnProperty(btn_layer_name)) {
                    map.removeLayer(map_layers[btn_layer_name]);
                    delete map_layers[btn_layer_name];
                } else {
                    $(toggle_button).addClass('wms_layer_active');

                    get_geojson_layer('upload_layer', [btn_layer_name]);
                }
            }

            {#            below is map stuff #}
            var wkt = '';
            var center_lat_lng = '';
            var search_area_geojson = '';
            var geoJson_area_km2 = '';

            var map_height = window.innerHeight;
            var header_height = $('.navbar').height();

            $('#map_div').css({height: map_height - header_height - 5});
            var map = L.map('map_div').setView([51.53181, -3.24687], 8);


            var layer_group = new L.LayerGroup();
            var overlays = {
                "Empty group": layer_group
            };
            var layerControl = L.control.layers([], {}).addTo(map);

            L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                {#            L.tileLayer('http://i7.cscloud.cf.ac.uk/osmcarto/{z}/{x}/{y}.png?access_token={accessToken}', {#}
                attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
                maxZoom: 15,
                id: 'your.mapbox.project.id',
                accessToken: 'your.mapbox.public.access.token'
            }).addTo(map);


            var info = L.control();
            info.onAdd = function (map) {
                this._div = L.DomUtil.create('div', 'info');
                this.update();
                return this._div;
            };

// method that we will use to update the control based on feature properties passed
            info.update = function (props) {
                this._div.innerHTML = '<div style="min-height: 10%"><h4>Region Response Rate</h4>' +  (props ?
                '<b>' + props.area_name + '</b><br />' + props.response_rate + '%'
                        : 'Hover over a region');
            };

            info.addTo(map);

            var geojson;
            function resetHighlight(e) {
                console.log(e.target);
                e.target.resetStyle(e.target);
                info.update();
            }

            function highlightFeature(e) {
                var layer = e.target;
                layer.setStyle({
                    weight: 5,
                    color: '#666',
                    dashArray: '',
                    fillOpacity: 0.7
                });
                {#                if (!L.Browser.ie && !L.Browser.opera) {#}
                layer.bringToFront();
                {#                }#}
                info.update(layer.feature.properties);
            }

            function getColor(d, feature_data, chroma_scale) {

                if (chroma_scale) {
                    return chroma_scale(parseFloat(d));
                }

                if (feature_data) {
                    var scale = chroma.scale('OrRd').classes(feature_data);
                    return scale(parseFloat(d));
                }

                d = parseFloat(d);
                return chroma.random();

                return d > 80 ? '#800026' :
                        d > 75  ? '#BD0026' :
                                d > 70  ? '#E31A1C' :
                                        d > 60  ? '#FC4E2A' :
                                                d > 50   ? '#FD8D3C' :
                                                        d > 40   ? '#FEB24C' :
                                                                d > 30   ? '#FED976' :
                                                                        '#FFEDA0';
            }

            function remove_layer(remove_button){
                map.removeLayer(map_layers[$(remove_button).data('layername')]);
            }

            function replace_layer(replace_button){
                map_layers[$(replace_button).data('layername')].addTo(map);
            }

            get_geojson_layer('survey', JSON.parse('{{ surveys|safe }}'));

            function get_geojson_layer(layer_type, layer_names){
                var ajax_url = "{% url 'get_geojson' %}";

                if( layer_type == 'upload_layer'){
                    ajax_url = "{% url 'get_imported_feature' %}";
                } else {
                    ajax_url = "{% url 'get_geojson' %}";
                }

                $.ajax({
                    {#                    url: "{% url 'get_geojson' %}",#}
                    url: ajax_url,
                    type: 'POST',
                    data: {
                        'layer_type': layer_type,
                        'layer_names': layer_names
                        {#                        'area_names': {{ area_names|safe }}#}
                    },
                    success: function(data){

                        var name = layer_names;
                        {#                        var new_layer_menu = $(#}
                        {#                                '<li>' +#}
                        {#                                '<a href="#"><i class="fa fa-fw"></i> ' +#}
                        {#                                name +#}
                        {#                                '<span class="fa btn btn-primary btn-sm fa-arrow-down"></span>' +#}
                        {#                                '<span class="fa btn btn-primary btn-sm fa-arrow-up"></span>' +#}
                        {#                                '<span class="fa btn btn-primary btn-sm fa-eye show_layer"></span>' +#}
                        {#                                '<span class="fa btn btn-primary btn-sm arrow" data-visible=true></span>' +#}
                        {#                                '</a>' +#}
                        {##}
                        {#                                '<ul class="nav nav-third-level active">' +#}
                        {#                                '<li>' +#}
                        {#                                '<a href="#" class="remove_layer" data-layername="' + name +#}
                        {#                                '"><i class="fa fa-remove fa-fw"></i> Remove Layer</a>' +#}
                        {#                                '</li>' +#}
                        {##}
                        {#                                '<li>' +#}
                        {#                                '<a href="#" class="replace_layer" data-layername="' + name +#}
                        {#                                '"><i class="fa fa-plus fa-fw"></i> Replace Layer</a>' +#}
                        {#                                '</li>' +#}
                        {##}
                        {#                                '</ul>' +#}
                        {#                                '</li>');#}

                        {#                        var layer_list = $('#layer_list');#}
                        {#                        layer_list.append(new_layer_menu);#}
                        $('#side-menu').removeData("plugin_metisMenu").metisMenu();

                        $('.replace_layer').click(function () {
                            replace_layer(this)
                        });
                        $('.remove_layer').click(function () {
                            remove_layer(this)
                        });

                        $('.show_layer').click(function () {
                            var btn_span = $(this);
                            if(btn_span.data('visible')) {
                                btn_span.data('visible', false);
                                btn_span.removeClass('fa-eye').addClass('fa-eye-slash');
                            } else {
                                btn_span.data('visible', true);
                                btn_span.removeClass('fa-eye-slash').addClass('fa-eye');
                            }
                        });

                        if (layer_type == 'survey') {
                            geojson = L.geoJson(data, {
                                onEachFeature: function (feature, layer) {
                                    layer.bindPopup(feature.properties.area_name + '<br>' + feature.properties.response_rate + '%');
                                    layer.on({
                                        mouseover: highlightFeature,
                                        mouseout: resetHighlight
                                    });
                                },
                                style: function (feature) {
                                    return {
                                        fillColor: getColor(feature.properties.response_rate),
                                        weight: 2,
                                        opacity: 1,
                                        color: 'white',
                                        dashArray: '3',
                                        fillOpacity: 0.7
                                    };
                                }

                            });
                            geojson.addTo(map);
                            geojson.bringToFront();
                            map_layers[data['properties']['name']] = geojson;
                        }

                        if (layer_type == 'wiserd_layer') {
                            {#                            wiserd_layer.addData(data);#}

                            var myLayer = L.geoJson(data, {
                                onEachFeature: function (feature, layer) {
                                    layer.bindPopup('Clicked a thing');
                                    layer.on({
                                        mouseover: function(e){
                                            var layer = e.target;
                                            layer.setStyle({
                                                weight: 5,
                                                color: '#666',
                                                dashArray: '',
                                                fillOpacity: 0.7
                                            });
                                            {#                if (!L.Browser.ie && !L.Browser.opera) {#}
                                            layer.bringToFront();
                                            {#                }#}
                                            info.update(layer.feature.properties);
                                        },
                                        mouseout: function(e){
                                            console.log(e.target);
                                            myLayer.resetStyle(e.target);
                                            info.update();
                                        }
                                    });
                                },
                                style: function (feature) {
                                    return {
                                        fillColor: '#0044AA',
                                        fillOpacity: 0.7,
                                        weight: 2,
                                        opacity: 1,
                                        color: 'orangered',
                                        dashArray: '3'
                                    };
                                }
                            });
                            layerControl.addOverlay(myLayer, name);
                            myLayer.addTo(map);
                            map_layers[data['properties']['name']] = myLayer;
                        }

                        if (layer_type == 'upload_layer') {

                            topojson_layers[layer_names] = data;
                            $( "#dialog-form").data({layer_names: layer_names}).dialog( "open" );

                        }
                    }
                });
            }

            function handleUploadedLayer(data, color_scheme, bin_breakdown, num_bins){

                var data_objects = data['objects'];
                var feature_data = [];

                {#                            This is listing all the response rate variables we know can find in the topojson #}
                for (var b in data_objects) {
                    var geometries_properties = data_objects[b]['geometries'];
                    for (var a in geometries_properties) {
                        feature_data.push(parseFloat(geometries_properties[a]['properties']['REMOTE_VALUE']));
                    }
                }

                {#  Calculating the bins for quantiles with 'q' option, 'e'  and 'k' available #}
                var grades = chroma.limits(feature_data, bin_breakdown, parseInt(num_bins));

                {#  Calculating the function we can pass values to, in order to get nice rgb color codes #}


                {#                var color_array = ['OrRd', 'RdYlBu', 'YlGnBu', 'Spectral'];#}
                {#                TODO stupid#}
                {#                var rand = color_array[Math.floor(Math.random() * color_array.length)];#}
                var chroma_scale = chroma.scale(color_scheme).classes(grades);

                var legend = L.control({position: 'bottomright'});
                legend.onAdd = function (map) {
                    var div = L.DomUtil.create('div', 'info legend'),
                            labels = [],
                            from, to;
                    console.log(grades);

                    {#                                For each bin in the quantiles, we need a representative color for the Legend #}
                    for (var i = 0; i < grades.length; i++) {
                        from = grades[i];
                        to = grades[i + 1];

                        var legend_row = '<i style="background:' + getColor(from + 1, grades, chroma_scale) + '"></i> ';
                        legend_row += from.toFixed(2);
                        legend_row += (to-1).toFixed(2) ? '&ndash;' + (to-1).toFixed(2) + '%': '%+';

                        labels.push(legend_row);
                    }
                    var div_inner = labels.join('<br>');
                    div_inner += '</div>';
                    div.innerHTML = div_inner;
                    return div;
                };
                legend.addTo(map);

                {#                            topolayer#}
                var myLayer = new L.TopoJSON();
                myLayer.addData(data);

                myLayer.eachLayer(function (layer) {
                    layer.setStyle(styleFeature(layer.feature, grades, chroma_scale));
                });
                myLayer.eachLayer(handleLayer);

                layerControl.addOverlay(myLayer, data['objects'][0]);

                myLayer.addTo(map);
                myLayer.bringToFront();
                {#                            map_layers[data['properties']['name']] = myLayer;#}
                map_layers[data['objects'][0]] = myLayer;

            }

            function handleLayer(layer) {

                layer.bindPopup(layer.feature.properties.AREA_NAME + '<br>'
                + layer.feature.properties.REMOTE_VALUE + '%');

                layer.on({
                    mouseover: function (e) {
                        {#                        console.log(e.target.feature.properties.RESPONSE_R);#}
                        var layer = e.target;
                        layer.setStyle({
                            weight: 5,
                            color: '#666',
                            dashArray: '',
                            fillOpacity: 0.7
                        });

                        layer.bringToFront();

                        info.update(layer.feature.properties.REMOTE_VALUE + '<br>'
                        + layer.feature.properties.REMOTE_VALUE + '%');
                    },
                    mouseout: function (e) {
                        {#                        e.target.resetStyle(e.target);#}
                        e.target.setStyle({
                            {#                            fillColor: '#0044AA',#}
                            fillOpacity: 0.7,
                            weight: 2,
                            opacity: 1,
                            color: 'white',
                            dashArray: '3'
                        });
                        info.update();
                    }
                });

            }

            function styleFeature(feature, feature_data, chroma_scale) {
                {#                console.log(feature);#}

                return {
                    fillColor: getColor(feature.properties.REMOTE_VALUE, feature_data, chroma_scale),
                    weight: 2,
                    opacity: 1,
                    color: 'white',
                    dashArray: '3',
                    fillOpacity: 0.7
                }
            }

            var map_layers = {};


            var featureGroup = L.featureGroup().addTo(map);

            map.addControl( new L.Control.Search({
                url: 'http://nominatim.openstreetmap.org/search?format=json&q={s}',
                jsonpParam: 'json_callback',
                propertyName: 'display_name',
                propertyLoc: ['lat','lon'],
                circleLocation: false,
                markerLocation: true,
                autoType: false,
                autoCollapse: true,
                minLength: 2,
                zoom:10
            }) );

            var drawControl = new L.Control.Draw({
                edit: {
                    featureGroup: featureGroup
                },
                draw: {
                    polygon: true,
                    polyline: false,
                    rectangle: {
                        shapeOptions : {
                            color : '#888888'
                        }
                    },
                    circle: true,
                    marker: false
                }
            }).addTo(map);

            map.on('draw:created', showPolygonArea);
            map.on('draw:edited', showPolygonAreaEdited);

            function convertPolygonToOS(shape_geojson){

                var new_coordinates = [];
                var new_geometry = {
                    "type": "Polygon",
                    "coordinates": [[]]
                };

                for (var a = 0; a < shape_geojson['geometry']['coordinates'][0].length; a++) {
                    var ll2 = new LatLng(shape_geojson['geometry']['coordinates'][0][a][1],
                            shape_geojson['geometry']['coordinates'][0][a][0]);
                    var os2 = ll2.toOSRef();
                    new_coordinates.push([os2.easting, os2.northing]);
                }

                new_geometry['coordinates'] = [new_coordinates];

                return new_geometry

            }
            function showPolygonAreaEdited(e) {
                e.layers.eachLayer(function(layer) {
                    showPolygonArea({ layer: layer });
                });
            }

            function showPolygonArea(e) {

                featureGroup.clearLayers();
                featureGroup.addLayer(e.layer);

                geoJson_area_km2 = (LGeo.area(e.layer) / 1000000).toFixed(2);
                e.layer.bindPopup(geoJson_area_km2 + ' km<sup>2</sup>');
                e.layer.openPopup();

                search_area_geojson = e.layer.toGeoJSON();
                $('#output').val(search_area_geojson);
                var new_geojson = convertPolygonToOS(search_area_geojson);
                wkt = $.geo.WKT.stringify(new_geojson);

                map.fitBounds(featureGroup.getBounds());
                center_lat_lng = featureGroup.getBounds().getCenter();
                map.addOneTimeEventListener('viewreset', function() {
                    setTimeout(function(){
                        leafletImage(map, doImage);
                    }, 1000);
                });
            }

            var most_recent_search_png = '';
            function doImage(err, canvas) {
                {#                var snapshot = document.getElementById('snapshot');#}

                var img = document.createElement('img');
                var dimensions = map.getSize();
                img.width = dimensions.x;
                img.height = dimensions.y;
                most_recent_search_png = canvas.toDataURL();
                img.src = most_recent_search_png;
                {#                img.style.width = '100%';#}
                {#                snapshot.innerHTML = '';#}
                {#                snapshot.appendChild(img);#}

                $.ajax({
                    url: "{% url 'new_spatial_search' %}",
                    type: 'POST',
                    data: {
                        geography: wkt,
                        {#                        geojson: search_area_geojson,#}
                        centre_lat_lng: [center_lat_lng.lat, center_lat_lng.lng],
                        geo_area_km2: geoJson_area_km2,
                        start: 0,
                        limit: 15,
                        type: "Qual",
                        uid_only: true,
                        image_png: most_recent_search_png
                    },
                    success: function(data) {
                        alert(JSON.stringify(data['data']));

                        if (data['uid']) {
                            {#                            console.log("{% url 'tables' %}?search_id=" + data['uid']);#}
                            {#                            var snapshot = document.getElementById('output');#}
                            {#                            snapshot.innerHTML = "{% url 'tables' %}?search_id=" + data['uid'];#}

                            setTimeout(function(){
                                {#                                TODO FINDME re-enable this #}
                                {#                                window.location = "{% url 'tables' %}?search_id=" + data['uid'];#}
                            }, 1000);
                        }
                    }
                });
            }

            String.prototype.format = function() {
                var formatted = this;
                for (var i = 0; i < arguments.length; i++) {
                    var regexp = new RegExp('\\{'+i+'\\}', 'gi');
                    formatted = formatted.replace(regexp, arguments[i]);
                }
                return formatted;
            };

            $("#menu-toggle").click(function(e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });


            setTimeout(function() {
                $('#side-menu').removeData("plugin_metisMenu").metisMenu();
            }, 2000);

            $( "#dialog-form" ).dialog({
                autoOpen: false,
                height: 300,
                width: 350,
                modal: true,
                buttons: {
                    "Save value": function() {
                        if ($("#bintype").val() != '') {
                            if ($("#binno").val() != '') {
                                {#                                alert($("#bintype").val() + ' ' + $("#binno").val() + ' ' + $("#colorpicker").val());#}
                                var topojson_data = topojson_layers[$(this).data('layer_names')];
                                handleUploadedLayer(topojson_data, $("#colorpicker").val(), $("#bintype").val(), $("#binno").val());
                                $(this).dialog("close");
                            }
                        }
                    },
                    Cancel: function() {
                        $( this ).dialog( "close" );
                    }
                },
                close: function() {
                }
            });

            $("#new_layer_btn").click(function(e){
                $( "#search-remote-form").dialog( "open" );
            });

            $( "#search-remote-form" ).dialog({
                autoOpen: false,
                height: 300,
                width: 350,
                modal: true,
                buttons: {
                    "Save value": function() {

                    },
                    Cancel: function() {
                        $( this ).dialog( "close" );
                    }
                },
                close: function() {
                }
            });

            var div = L.DomUtil.get('div_id');
            if (!L.Browser.touch) {
                L.DomEvent.disableClickPropagation(div);
                L.DomEvent.on(div, 'mousewheel', L.DomEvent.stopPropagation);
            } else {
                L.DomEvent.on(div, 'click', L.DomEvent.stopPropagation);
            }
        });

    </script>


    <div id="output"></div>
    <div id="map_div" style="height: 180px;"></div>

    <div class="well">
        <h4>Map Selection Data</h4>
        <div id="snapshot"></div>
    </div>

    <div id="dialog-form" title="Chloropleth options">
        <table>
            <tr>
                <td>
                    <label for="bintype" class="control-label">Type Bins</label>
                </td>
                <td>
                    <div class="controls">
                        <select name="bintype" id="bintype" class="input-block-level tab_data_input">
                            <option value="e">Equal bins</option>
                            <option value="q">Quantiles</option>
                            <option value="k" selected="selected">K-Means</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="binno" class="control-label">Number of Bins</label>
                </td>
                <td>
                    <select name="binno" id="binno" class="input-block-leveltab_data_input">
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6" selected="selected">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="colorpicker" class="control-label">Choropleth colour scheme</label>
                </td>
                <td>
                    <select name="colorpicker" id="colorpicker" class="input-block-level tab_data_input">
                        <option value="OrRd">Orange - Red</option>
                        <option value="RdYlBu">Red - Yellow - Blue</option>
                        <option value="YlGnBu" selected="selected">Yellow - Green - Blue</option>
                        <option value="Spectral">Spectral</option>
                    </select>
                </td>
            </tr>
        </table>

        {#        <div class="ui-widget control-group">#}
        {#            <label for="bintype" class="control-label col-sm-4">Type Bins</label>#}
        {#            <div class="controls">#}
        {#                <select name="bintype" id="bintype" class="input-block-level col-sm-4 tab_data_input">#}
        {#                    <option value="e">Equal bins</option>#}
        {#                    <option value="q">Quantiles</option>#}
        {#                    <option value="k" selected="selected">K-Means</option>#}
        {#                </select>#}
        {#            </div>#}
        {#        </div>#}
        {#        <div class="ui-widget control-group">#}
        {#            <label for="binno" class="control-label col-sm-4">Number of Bins</label>#}
        {#            <select name="binno" id="binno" class="input-block-level col-sm-4 tab_data_input">#}
        {#                <option value="4">4</option>#}
        {#                <option value="5">5</option>#}
        {#                <option value="6" selected="selected">6</option>#}
        {#                <option value="7">7</option>#}
        {#                <option value="8">8</option>#}
        {#            </select>#}
        {#        </div>#}
        {#        <div class="ui-widget control-group">#}
        {#            <label for="colorpicker" class="control-label col-sm-4">Choropleth colour scheme</label>#}
        {#            <select name="colorpicker" id="colorpicker" class="input-block-level col-sm-4 tab_data_input">#}
        {#                <option value="OrRd">Orange - Red</option>#}
        {#                <option value="RdYlBu">Red - Yellow - Blue</option>#}
        {#                <option value="YlGnBu" selected="selected">Yellow - Green - Blue</option>#}
        {#                <option value="Spectral">Spectral</option>#}
        {#            </select>#}
        {#        </div>#}
    </div>




    <div id="search-remote-form" title="Search Remote">
        <table>
            <tr>
                <td>
                    <label for="remote_search_term" class="control-label">Search remote</label>
                </td>
                <td>
                    <input type="text" id="remote_search_term" name="remote_search_term" class="controls input-block-level tab_data_input">
                </td>
                <td>
                    <div class="btn btn-info">Search</div>
                </td>
            </tr>

            </table>
        <table>
            <tr>
                <td>
                    <label for="variable" class="control-label">Variable</label>
                </td>
                <td>
                    <select name="variable" id="bintype" class="controls input-block-level tab_data_input">
                        <option value="v" selected="selected">Value</option>
                        <option value="p">Percentage</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="geographies" class="control-label">Geographies</label>
                </td>
                <td>
                    <select name="geographies" id="geographies" class="controls input-block-level tab_data_input">
                        <option value="ua">UA</option>
                        <option value="pcode">Post Code Sector</option>
                        <option value="lsoa" selected="selected">LSOA</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="dataset" class="control-label">Dataset</label>
                </td>
                <td>
                    <select name="dataset" id="dataset" class="controls input-block-level tab_data_input">
                        <option value="-" selected="selected">- - -</option>
                    </select>
                </td>
            </tr>
        </table>

    </div>

{% endblock %}

