{% extends "mcstrikenavigation1.html" %}
{% load staticfiles %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb" lang="en" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" itemscope itemtype="http://schema.org/Map">

{% block content %}
<head>
<title>#McStrike Retweets - 28th May 2018</title>
</head>
<body><iframe src="/static/data_visualisations/mcstrike_week1/index.html" frameborder="0" style="overflow:hidden; height: 85%; width: 85%; position: absolute;"></iframe>
</body>
{#    add in this for the live - https://data.wiserd.ac.uk/static/data_visualisations/28052018_network/index.html#}
{#<div id="developercontainer">#}
{#	<a href="http://www.oii.ox.ac.uk" title="Oxford Internet Institute"><div id="oii"><span>OII</span></div></a>#}
{#	<a href="http://jisc.ac.uk" title="JISC"><div id="jisc"><span>JISC</span></div></a>	#}
{#</div>#}
{#<script type="text/javascript">#}
{##}
{#  var _gaq = _gaq || [];#}
{#  _gaq.push(['_setAccount', 'UA-21293169-4']);#}
{#  _gaq.push(['_setDomainName', 'none']);#}
{#  _gaq.push(['_setAllowLinker', true]);#}
{#  _gaq.push(['_trackPageview']);#}
{##}
{#  (function() {#}
{#    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;#}
{#    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';#}
{#    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);#}
{#  })();#}
{##}
{#</script>#}
{#</body>#}
{% endblock %}
</html>
