{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block extra_head %}
{% endblock %}

{% block navigation %}
{#    <script>#}
{#        $(document).ready(function () {#}
{#            $('.lang_toggle').click(function(){#}
{#                waitingDialog.show('Saving ...');#}
{##}
{#                var lang = $(this).data('lang');#}
{##}
{#                var user_language = (lang == 'welsh' ? '2' : '1');#}
{#                $.ajax({#}
{#                    url: "{% url 'edit_metadata' %}",#}
{#                    type: 'GET',#}
{#                    data: {#}
{#                        'function': 'set_user_preferences',#}
{#                        'user_language': user_language#}
{#                    },#}
{#                    success: function(data) {#}
{#                        if(data['success']){#}
{#                            location.reload(true);#}
{#                        } else {#}
{#                            console.log(data);#}
{#                        }#}
{#                    },#}
{#                    complete: function() {#}
{#                        setTimeout(function () {#}
{#                            waitingDialog.hide();#}
{#                        }, 1000);#}
{#                    }#}
{#                });#}
{#            });#}
{#        });#}
{#    </script>#}

    <link rel="stylesheet" type="text/css" href="{% static 'dataportal/naw_dark.css' %}" />

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">{% trans 'Toggle navigation' %}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="{% url 'naw_dashboard' %}">
                    <img style="margin: 0.5em; max-height: 3em; height: 5em;
                                    margin-top: -15px; margin-left: -15px; padding: 0.5em"
                         src="{% static 'dataportal/media/Branding for WISERD website-01.svg' %}"></a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
{#                <li>#}
{#                    <a href="#" class="lang_toggle" data-lang="english">#}
{#                        <i class="">{% trans 'English' %}</i>#}
{#                    </a>#}
{#                </li>#}
{#                <li> | </li>#}
{#                <li>#}
{#                    <a href="#" class="lang_toggle" data-lang="welsh">#}
{#                        <i class="">{% trans 'Welsh' %}</i>#}
{#                    </a>#}
{#                </li>#}
                {% include 'lang_toggle.html' %}

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-pencil-square-o fa-fw"></i>  {% trans 'Research' %}  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="https://assemblyinbrief.wordpress.com/" target="_blank"><i class="fa fa-external-link fa-fw"></i> {% trans '"In Brief" Blog' %}</a>
                        </li>
                        <li><a href="http://www.assembly.wales/en/bus-home/research/Pages/research.aspx" target="_blank"><i class="fa fa-external-link fa-fw"></i> {% trans 'National Assembly Research Service' %}</a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  {{ user }} <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        {% if request.user.is_superuser  %}
                            <li><a href="{% url 'site_setup' %}" target="_blank"><i class="fa fa-cogs fa-fw"></i> {% trans 'Site Setup' %}</a>
                            </li>
                            <li class="divider"></li>
                        {% endif %}

                        {% if request.user.is_staff %}
                            <li><a href="{% url 'admin:index' %}" target="_blank"><i class="fa fa-briefcase fa-fw"></i> {% trans 'Admin Panel' %}</a>
                            </li>
                            <li class="divider"></li>
                        {% endif %}

                        {% if request.user.is_authenticated %}
                            <li><a href="{% url 'profile' %}"><i class="fa fa-user fa-fw"></i> {% trans 'User Profile' %}</a>
                            </li>
                            <li><a href="{% url 'settings' %}"><i class="fa fa-gear fa-fw"></i> {% trans 'Settings' %}</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out fa-fw"></i> {% trans 'Logout' %}</a></li>
                        {% else %}
                            <li><a href="{% url 'account_login' %}"><i class="fa fa-sign-in fa-fw"></i> {% trans 'Login' %}</a></li>
                        {% endif %}

                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav nav-ul" id="side-menu">

                        <li>
                            <a href="{% url 'naw_dashboard' %}"><i class="fa fa-dashboard fa-fw"></i> {% trans 'Dashboard' %}</a>
                        </li>

                        {% block nav_extras %}

                        {% endblock %}

                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper" class="page-wrapper">
            {% block content %}
            {% endblock %}

        </div>
        <!-- /#page-wrapper -->

    </div>


{% endblock %}