<iframe href="/dataportal3/static/network_visualisation/network_visualisation.html" style="width:100%; height:100%;">
</iframe>
{#<html>#}
{#    <head>#}
{#        <script src="http://code.jquery.com/jquery-1.10.2.js"></script>#}
{#        <script>#}
{#            $(function(){#}
{#              $("#includedContent").load("network_visualisation/index.html");#}
{#            });#}
{#        </script>#}
{#    </head>#}
{#    <body>#}
{#        <div id="includedContent"></div>#}
{#    </body>#}
{#</html>#}