{% extends "navigation.html" %}
{% load staticfiles %}
{% load i18n %}

{% block page_name %}{% trans 'Profile' %}{% endblock %}

{% block content %}

    <script src="{% static 'dropzone.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'dropzone.css' %}" />

    <style>
        #dropzone { margin-bottom: 3rem; }

        .dropzone { border: 2px dashed #0087F7; border-radius: 5px; background: white; }
        .dropzone .dz-message { font-weight: 400; }
        .dropzone .dz-message .note { font-size: 0.8em; font-weight: 200; display: block; margin-top: 1.4rem; }


        .fileUpload {
            position: relative;
            overflow: hidden;
        {#            margin: 10px;#}
        }
        .fileUpload input.upload {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }

    </style>

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><i class="fa fa-user"></i>    {% trans 'Profile' %}</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>


    <form id="preferences_form" action="{% url 'edit_metadata' %}" method="get" role="search">
        <input type="hidden" name="function" value="set_user_preferences">
        {% csrf_token %}
        <div class="container">

            <div class="row">
                <div class="input-group-btn">
                    <div id="submit_preferences" class="btn btn-success" >{% trans 'Save' %}</div>
                </div>
            </div>

            <div class="row">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3>{{ user }}'s Profile</h3>
                    </div>
                    <div class="panel-body">
                        {% include 'profile_snippet.html' %}

                    </div>
                </div>
            </div>


            <div class="row">

                {% include 'language_snippet.html' %}

            </div>

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"><i class="fa fa-cog"></i>    {% trans 'Settings' %}</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <div class="row">

                <div class="panel panel-info">
                    <div class="panel-heading">
                        {% trans 'Links and Tabs' %}
                    </div>
                    <div class="panel-body">
                        <p>{% trans 'This is not advised on mobile, as tab management is not as easy as when using a desktop browser.' %}</p>
                        <p>{% trans 'However it can be desirable to have multiple tabs open to view multiple surveys, for example.' %}</p>
                        <div class="form-group">
                            <div class="checkbox col-sm-4">
                                <label>
                                    <input id="links_new_tab" name="links_new_tab"
                                           {% if preferences.links_new_tab %}checked="checked"{% endif %}
                                           type="checkbox" value="">{% trans 'Open links in new tabs' %}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading">
                        {% trans 'Choropleth Speed/ Quality' %}
                    </div>
                    <div class="panel-body">
                        <p>{% trans 'Using high resolution regions, generating a choropleth can be very strenuous for your browser and also requires larger downloads.' %}</p>
                        <p>{% trans 'For this reason, the TopoJSON layer used is "simplified" down to 1% complexity for speed and ease of use.' %}</p>
                        <p>{% trans 'As an example a postcode sector topojson layer at 1% is approx 900kb, full quality becomes 30Mb! Downloading and rendering, especially on mobile, is not advised unless absolutely necessary.' %}</p>
                        <p>{% trans 'View <a href="https://github.com/mbloch/mapshaper/wiki/Command-Reference#-simplify" target="_blank"> Mapshaper "simplify"</a> for more information on the process of simplification used and <a href="https://en.wikipedia.org/wiki/Ramer%E2%80%93Douglas%E2%80%93Peucker_algorithm" target="_blank">Wikipedia Ramer-Douglas-Peucker</a> for information on the algorithm the process uses.' %}</p>
                        <div class="form-group">
                            <div class="checkbox col-sm-4">
                                <label>
                                    <input id="topojson_high" name="topojson_high"
                                           {% if preferences.topojson_high %}checked="checked"{% endif %}
                                           type="checkbox" value="">{% trans 'Use High Resolution Regions' %}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>


    <script>
        $(document).ready(function(){

            $('#submit_preferences').click(function(){
                waitingDialog.show('Saving ...');
                $.ajax({
                    url: "{% url 'edit_metadata' %}",
                    type: 'GET',
                    data: $('#preferences_form').serialize(),
                    success: function(data) {
                        if(data['success']){
                            location.reload(true);
                        } else {
                            console.log(data);
                        }
                    },
                    complete: function() {
                        setTimeout(function () {
                            waitingDialog.hide();
                        }, 1000);
                    }
                });
            });

        });
    </script>


{% endblock %}