{% extends "navigation.html" %}
{% load staticfiles %}
{% load i18n %}

{% block page_name %}{% trans 'Profile' %}{% endblock %}

{% block content %}

    <script src="{% static 'dropzone.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'dropzone.css' %}" />

    <style>
        #dropzone { margin-bottom: 3rem; }

        .dropzone { border: 2px dashed #0087F7; border-radius: 5px; background: white; }
        .dropzone .dz-message { font-weight: 400; }
        .dropzone .dz-message .note { font-size: 0.8em; font-weight: 200; display: block; margin-top: 1.4rem; }


        .fileUpload {
            position: relative;
            overflow: hidden;
        {#            margin: 10px;#}
        }
        .fileUpload input.upload {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }

    </style>

    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><i class="icon-background icon-background-blue fa fa-user"></i>    {% trans 'Profile' %}</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>

    <div class="container-fluid">

        <form id="preferences_form" action="{% url 'edit_metadata' %}" method="get" role="search">
            <input type="hidden" name="function" value="set_user_preferences">
            {% csrf_token %}

            <div class="row">
                <button id="submit_preferences" class="btn btn-success pull-right" >{% trans 'Save' %}</button>
            </div>

            <div class="row">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3>{{ user }}'s Profile</h3>
                    </div>
                    <div class="panel-body">
                        {% include 'profile_snippet.html' %}

                    </div>
                </div>
            </div>


            <div class="row">

                {% include 'language_snippet.html' %}

            </div>

            <div class="row">
                <div class="panel panel-info">
                    <div class="panel-heading">{% trans "Local data layers" %}</div>
                    <div class="panel-body">
                        <div id="out"></div>
                    </div>
                </div>
            </div>

        <div class="row">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3>{% trans 'Searches' %}</h3>
                </div>
                <div class="panel-body">
                    <div class="dataTable_wrapper">
                        <table class="table table-striped table-bordered table-hover" id="previous_searches">
                            <thead>
                            <tr>
                                <th>{% trans 'Search Title' %}</th>
                                <th>{% trans 'Search Type' %}</th>
                                <th>{% trans 'Date' %}</th>
                                <th>{% trans 'View' %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr><td></td><td></td><td></td><td></td></tr>
                            <tr><td></td><td></td><td></td><td></td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </div>

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"><i class="icon-background icon-background-red fa fa-cogs"></i>    {% trans 'Settings' %}</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <div class="row">

                <div class="panel panel-info">
                    <div class="panel-heading">
                        {% trans 'Links and Tabs' %}
                    </div>
                    <div class="panel-body">
                        <p>{% trans 'This is not advised on mobile, as tab management is not as easy as when using a desktop browser.' %}</p>
                        <p>{% trans 'However it can be desirable to have multiple tabs open to view multiple surveys, for example.' %}</p>
                        <div class="form-group">
                            <div class="checkbox col-sm-4">
                                <label>
                                    <input id="links_new_tab" name="links_new_tab"
                                           {% if preferences.links_new_tab %}checked="checked"{% endif %}
                                           type="checkbox" value="">{% trans 'Open links in new tabs' %}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading">
                        {% trans 'Choropleth Speed/ Quality' %}
                    </div>
                    <div class="panel-body">
                        <p>{% trans 'Using high resolution regions, generating a choropleth can be very strenuous for your browser and also requires larger downloads.' %}</p>
                        <p>{% trans 'For this reason, the TopoJSON layer used is "simplified" down to 1% complexity for speed and ease of use.' %}</p>
                        <p>{% trans 'As an example a postcode sector topojson layer at 1% is approx 900kb, full quality becomes 30Mb! Downloading and rendering, especially on mobile, is not advised unless absolutely necessary.' %}</p>
                        <p>{% trans 'View <a href="https://github.com/mbloch/mapshaper/wiki/Command-Reference#-simplify" target="_blank"> Mapshaper "simplify"</a> for more information on the process of simplification used and <a href="https://en.wikipedia.org/wiki/Ramer%E2%80%93Douglas%E2%80%93Peucker_algorithm" target="_blank">Wikipedia Ramer-Douglas-Peucker</a> for information on the algorithm the process uses.' %}</p>
                        <div class="form-group">
                            <div class="checkbox col-sm-4">
                                <label>
                                    <input id="topojson_high" name="topojson_high"
                                           {% if preferences.topojson_high %}checked="checked"{% endif %}
                                           type="checkbox" value="">{% trans 'Use High Resolution Regions' %}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>


    <script>
        $(document).ready(function(){


            if(typeof(Storage) !== "undefined") {
                var localLayers = {};
                if (localStorage.DataPortalLocalLayers) {
                    localLayers = JSON.parse(localStorage.getItem('DataPortalLocalLayers'));
                    {#                    console.log(localLayers);#}
                }

                for (var key in localLayers) {
                    if (localLayers.hasOwnProperty(key)) {
                        var row = $('<a/>').addClass("list-group-item");
                        var button = $('<div/>')
                                .attr('id', 'button_' + key)
                                .attr('data-local_uuid', key)
                                .addClass("btn btn-danger");
                        var icon = $('<i/>').addClass('fa fa-close col-sm-2');
                        button.append(icon);
                        button.click(function(){
                            var uuid = $(this).data('local_uuid');
                            var delete_confirm = window.confirm("Delete layer data " + uuid + " ?");

                            if (delete_confirm) {
                                if (localStorage.DataPortalLocalLayers) {
                                    localLayers = JSON.parse(localStorage.getItem('DataPortalLocalLayers'));
                                    delete localLayers[uuid];
                                    localStorage.setItem("DataPortalLocalLayers", JSON.stringify(localLayers));
                                }
                                location.reload();
                            }
                        });

                        row.append(button);
                        var key_div = $('<div/>')
                                .addClass('control-label col-sm-10')
                                .text(localLayers[key]['layer_data']['name'] + ' : ' + key);
                        row.append(key_div);
                        $('#out').append(row);
                    }
                }
            } else {
                alert('Sorry! Your browser does not support local data storage.');
            }

            $('#submit_preferences').click(function(){
                waitingDialog.show('Saving ...');
                $.ajax({
                    url: "{% url 'edit_metadata' %}",
                    type: 'GET',
                    data: $('#preferences_form').serialize(),
                    success: function(data) {
                        if(data['success']){
                            location.reload(true);
                        } else {
                            console.log(data);
                        }
                    },
                    complete: function() {
                        setTimeout(function () {
                            waitingDialog.hide();
                        }, 1000);
                    }
                });
            });

            var res_table = $('#previous_searches').DataTable({
                serverSide: false,
                processing: true,
                "bAutoWidth": false,
                responsive: true,
                            "oLanguage": datatables_language,

{#            columnDefs: [#}
{#       {type: 'non-empty-string', targets: 0} // define 'name' column as non-empty-string type#}
{#    ],#}
            "pageLength": 20,
                {#                scrollY: "50px",#}
                {#                dom: "frtiS",#}
                {#                paging: false,#}
                ajax: {
                    url: '{% url 'api:metadata:NomisSearch-list'%}',
                    data: function (d) {
                        d.user = "{{ userr.user.id }}";
                    },
                    dataSrc: 'results'
                },
                columns: [
                    {data: "name"},
                    {data: "search_type"},
                    {data: "datetime"},
                    {
                        "targets": -1,
                        "data": null,
                        "render": function ( data, type, full, meta ) {
                            if (data['uuid'] != null
                                    && data['uuid'].trim() != ''
                                    && data['uuid'].trim() != 'N/A' ) {

                                var new_tab = '';
                                {% if preferences.links_new_tab %}
                                    new_tab = 'target="_blank"';
                                {% endif %}

                                return "<a " + new_tab +
                                        " href='" + generete_search_data_url(data['uuid']) + "'>" +
                                        "<div class='btn btn-info search_button'>{% trans 'View' %}</div>" +
                                        "</a>";
                            } else {
                                return ""
                            }
                        }
                    }
                ]
            });

            {#            function attach_search_buttons() {#}
            {#                $('#previous_searches').find('tbody').on('click', '.search_button', function () {#}
            {#                    var data = res_table.row($(this).parents('tr')).data();#}
            {##}
            {#                    {% if preferences.links_new_tab %}#}
            {#                        window.open(generete_search_data_url(data['uuid']), '_blank');#}
            {#                    {% else %}#}
            {#                        window.location.href = generete_search_data_url(data['uuid']);#}
            {#                    {% endif %}#}
            {#                });#}
            {#            }#}
            {#            attach_search_buttons();#}

            function generete_search_data_url(search_uuid){
                return "{% url 'search_data' search_uuid=112233 %}".replace("112233", search_uuid);
            }

        });
    </script>


{% endblock %}