{% extends "navigation.html" %}
{% load staticfiles %}

{% block extra_head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
    <script src="{% static 'bubbles2.js' %}"></script>
    <script src="{% static 'd3plus.full.min.js' %}"></script>

{% endblock %}

{% block content %}
    <script>

        var survey_description = {
            'tabs' : {
                'survey': {
                    'title': 'Qualitative Record',
                    'style': 'form',
                    'url': "{% url 'qual_metadata' qual_id %}",
                    'columns': [],
                    'fields': [
                        {'display': false, 'displayName': 'Raw Text', 'id': 'rawtext'},
                        {'display': true, 'displayName': 'Pages', 'id': 'pages'},
                        {'display': true, 'displayName': 'Statistics', 'id': 'stats'},
                        {'display': true, 'displayName': 'Errors', 'id': 'errors'},
                        {'display': true, 'displayName': 'Identifier', 'id': 'identifier'}
                    ]
                },
                'dc' : {
                    'title': 'Dublin Core',
                    'style': 'form',
                    'url': "{% url 'qual_dc_data' qual_id %}",
                    'columns': [],
                    'fields': [
                        {'display': false, 'displayName': 'Identifier', 'id': 'identifier'},
                        {'display': true, 'displayName': 'Title', 'id': 'title'},
                        {'display': true, 'displayName': 'Creator', 'id': 'creator'},
                        {'display': true, 'displayName': 'Subject', 'id': 'subject'},
                        {'display': true, 'displayName': 'Description', 'id': 'description'},
                        {'display': true, 'displayName': 'Publisher', 'id': 'publisher'},
                        {'display': true, 'displayName': 'Contributor', 'id': 'contributor'},
                        {'display': true, 'displayName': 'Date', 'id': 'date'},
                        {'display': true, 'displayName': 'Type', 'id': 'type'},
                        {'display': true, 'displayName': 'Format', 'id': 'format'},
                        {'display': true, 'displayName': 'Source', 'id': 'source'},
                        {'display': true, 'displayName': 'Language', 'id': 'language'},
                        {'display': true, 'displayName': 'Relation', 'id': 'relation'},
                        {'display': false, 'displayName': 'Coverage', 'id': 'coverage'},
                        {'display': true, 'displayName': 'Rights', 'id': 'rights'},
                        {'display': false, 'displayName': 'User ID', 'id': 'user_id'},
                        {'display': true, 'displayName': 'Created', 'id': 'created'}
                        {#                        {'display': true, 'displayName': 'Updated', 'id': 'updated'}#}
                    ]
                }
            }
        };

        $(document).ready(function () {
            $.extend( $.fn.dataTable.defaults, {
                fnInitComplete: function(oSettings, json) {
                    var btnClear = $('<button class="btnClearDataTableFilter btn btn-info"><i class="fa fa-times"></button>');
                    btnClear.appendTo($('#' + oSettings.sTableId).parents('.dataTables_wrapper').find('.dataTables_filter'));
                    $('#' + oSettings.sTableId + '_wrapper .btnClearDataTableFilter').click(function () {
                        $('#' + oSettings.sTableId).dataTable().fnFilter('');
                    });
                }
            });

            $.ajax({
                url: "{% url 'qual_metadata' qual_id %}",
                type: 'POST',
                success: function(data) {
                    $('#survey_title_header').html(data['search_result_data'][0]['data']['survey_title']);

                    var dataContent = '';
                    for (var j = 0; j < survey_description['tabs']['survey']['fields'].length; j++) {
                        if (survey_description['tabs']['survey']['fields'][j]['display']) {
                            var field = survey_description['tabs']['survey']['fields'][j]['id'];
                            var value = data['search_result_data'][0]['data'][field];
                            var display_name = survey_description['tabs']['survey']['fields'][j]['displayName'];
                            var type = survey_description['tabs']['survey']['fields'][j]['type'];

                            dataContent += get_data_row_html(field, display_name, value, type);
                        }
                    }
                    $('#survey_info').append(dataContent);

                    var dataContent = '';
                    var bubble_data_map = {};
                    var bubble_data_arr = [];

                    for (var j = 0; j < data['search_result_data'][0]['calais'].length; j++) {
                        var field = data['search_result_data'][0]['calais'][j]['value'];
                        var value = data['search_result_data'][0]['calais'][j]['count'];
                        var display_name = data['search_result_data'][0]['calais'][j]['value'];
                        var type = '';

                        if (data['search_result_data'][0]['calais'][j]['value'] in bubble_data_map) {
                            bubble_data_map[data['search_result_data'][0]['calais'][j]['value']] += data['search_result_data'][0]['calais'][j]['count']
                        } else {
                            bubble_data_map[data['search_result_data'][0]['calais'][j]['value']] = data['search_result_data'][0]['calais'][j]['count']
                        }
                        dataContent += get_data_row_html(field, display_name, value, type);
                    }
                    {#                    $('#transcript_coverage').append(dataContent);#}

                    for (var key in bubble_data_map) {
                        bubble_data_arr.push({name: key, value: bubble_data_map[key]});
                    }

                    console.log(bubble_data_arr);

                    makeBubbles('#coverage_bubbles', bubble_data_arr, $('#panel-body').width());

{#                    var colors = d3plus.color.scale.range();#}
{#                    colors = colors.concat(["#525252", "#737373", "#969696", "#bdbdbd", "#d9d9d9", "#f7f7f7"]);#}
{#                    var squares = d3.select("#coverage_bubbles").selectAll("div.color")#}
{#                            .data( colors )#}
{#                            .enter().append("div")#}
{#                            .attr("class","color")#}
{#                            .attr("id", String)#}
{#                            .style("background-color", String)#}
{#                            .style("color", function(d){#}
{#                                return d3plus.color.text(d)#}
{#                            })#}
{#                            .text(String);#}


                    tidy_tab_fields()
                }
            });

            $.ajax({
                url: "{% url 'qual_dc_data' qual_id %}",
                type: 'POST',
                success: function(data) {
                    var dataContent = '';
                    for (var j = 0; j < survey_description['tabs']['dc']['fields'].length; j++) {
                        if (survey_description['tabs']['dc']['fields'][j]['display']) {
                            var field = survey_description['tabs']['dc']['fields'][j]['id'];
                            var value = data['search_result_data'][0]['data'][field];
                            var display_name = survey_description['tabs']['dc']['fields'][j]['displayName'];
                            var type = survey_description['tabs']['dc']['fields'][j]['type'];

                            dataContent += get_data_row_html(field, display_name, value, type);
                        }
                    }
                    $('#dc_info').append(dataContent);
                    tidy_tab_fields()
                }
            });


            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                tidy_tab_fields()
            });

        });

        function tidy_tab_fields() {
            $(".tab_data_input").each( function() {
                $(this).height(this.scrollHeight);
            });
        }

        function get_data_row_html(field, display_name, value, type) {
            if (type == undefined) {
                return ('<div class="control-group">' +
                '<label for="text_input_{0}" class="control-label col-sm-4">{1}</label>' +
                '<div class="controls">' +
                '<textarea readonly="true" type="text" class="input-block-level col-sm-8 tab_data_input" name="text_input_{0}" ' +
                'id="text_input_{0}" size="20" value="{2}">{2}</textarea>' +
                '</div></div>').format(
                        field, display_name, value
                );
            } else if (type == 'link') {

                var link_formatted = '<div class="control-group">' +
                        '<label for="text_input_{0}" class="control-label col-sm-4">{1}</label>' +
                        '<div class="controls">';

                if (value != 'N/A') {

                    link_formatted += '<div class="col-sm-8" name="text_input_{0}" ' +
                            'style="padding-top: 4px; padding-bottom: 4px; border: 1px solid rgb(169, 169, 169); ' +
                            'white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; ' +
                            'white-space: -o-pre-wrap; word-wrap: break-word;" ' +
                            'id="text_input_{0}" size="20" value="{2}">' +
                            '<a href="{2}" target="_blank">{2}</a>';
                } else {
                    link_formatted += '<textarea readonly="true" type="text" class="input-block-level col-sm-8 tab_data_input" name="text_input_{0}" ' +
                            'id="text_input_{0}" size="20" value="{2}">{2}</textarea>';
                }
                link_formatted += '</div></div></div>';

                return (link_formatted).format(
                        field, display_name, value
                );

            } else {
                return ('<div class="control-group">' +
                '<label for="text_input_{0}" class="control-label col-sm-6">{1}</label>' +
                '<div class="controls">' +
                '<textarea readonly="true" type="text" class="input-block-level col-sm-6 tab_data_input" name="text_input_{0}" ' +
                'id="text_input_{0}" size="20" value="{2}">{2}</textarea>' +
                '</div></div>').format(
                        field, display_name, value
                );
            }

        }


    </script>

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" id="survey_title_header">Qualitative Record Details for {{ qual_title }}</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Qualitative Transcript Details
                </div>
                <!-- /.panel-heading -->
                <div id="panel-body" class="panel-body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-pills">
                        <li><a href="#survey_dc_tab" data-toggle="tab">Dublin Core</a>
                        </li>
                        <li class="active"><a href="#survey_tab" data-toggle="tab">Qualitative Transcript</a>
                        </li>
                        <li><a href="#transcript_coverage_tab" data-toggle="tab">Transcript Coverage</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fade" id="survey_dc_tab">
                            <h4>Dublin Core</h4>
                            <div id="dc_info"></div>
                        </div>
                        <div class="tab-pane fade in active" id="survey_tab">
                            <h4>Qualitative Record</h4>
                            <div id="survey_info"></div>
                        </div>
                        <div class="tab-pane" id="transcript_coverage_tab">
                            <h4>Transcript Coverage</h4>
                            <div id="coverage_bubbles"></div>
                            {#                            <div id="transcript_coverage"></div>#}
                        </div>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
    </div>

{% endblock %}