{% extends "navigation.html" %}
{% load staticfiles %}

{% block content %}
    <script>

        var question_description = {
            'tabs' : {
                'question':{
                    'title': 'Question',
                    'style': 'form',
                    'url': "{% url 'survey_single_question' question_id %}",
                    'fields': [
                        {'display': true, 'displayName': 'Question ID', 'id': 'qid'},
                        {'display': true, 'displayName': 'Question Text', 'id': 'literal_question_text'},
                        {'display': true, 'displayName': 'Question Number', 'id': 'questionnumber'},
                        {'display': true, 'displayName': 'Thematic Groups', 'id': 'thematic_groups'},
                        {'display': true, 'displayName': 'Thematic Tags', 'id': 'thematic_tags'},
                        {'display': true, 'displayName': 'Link From', 'id': 'link_from'},
                        {'display': true, 'displayName': 'Sub Of', 'id': 'subof'},
                        {'display': true, 'displayName': 'Question Type', 'id': 'type'},
                        {'display': true, 'displayName': 'Variable ID', 'id': 'variableid'},
                        {'display': true, 'displayName': 'Notes', 'id': 'notes'},
                        {'display': false, 'displayName': 'user_id', 'id': 'user_id'},
                        {'display': false, 'displayName': 'created', 'id': 'created'},
                        {'display': true, 'displayName': 'Last Edit', 'id': 'updated'}
                    ]
                },

                'results':{
                    'title': 'Results',
                    'style': 'form',
                    'url': "{% url 'survey_question_results' question_id %}",
                    'fields': [
                        {'display': true, 'displayName': 'Response ID', 'id': 'responseid'},
                        {'display': true, 'displayName': 'Response Text', 'id': 'responsetext'},
                        {'display': false, 'displayName': 'created', 'id': 'created'},
                        {'display': true, 'displayName': 'Route Notes', 'id': 'route_notes'},
                        {'display': false, 'displayName': 'Table IDs', 'id': 'table_ids'},
                        {'display': true, 'displayName': 'Computed Variable', 'id': 'computed_var'},
                        {'display': true, 'displayName': 'Response Type', 'id': 'response_type'},
                        {'display': false, 'displayName': 'user_id', 'id': 'user_id'},
                        {'display': true, 'displayName': 'Checks', 'id': 'checks'},
                        {'display': true, 'displayName': 'Route Type', 'id': 'routetype'},
                        {'display': true, 'displayName': 'Last Edit', 'id': 'updated'},

                    ]
                }

            }
        };

        $(document).ready(function () {
            $.extend( $.fn.dataTable.defaults, {
                fnInitComplete: function(oSettings, json) {
                    var btnClear = $('<button class="btnClearDataTableFilter btn btn-info"><i class="fa fa-times"></button>');
                    btnClear.appendTo($('#' + oSettings.sTableId).parents('.dataTables_wrapper').find('.dataTables_filter'));
                    $('#' + oSettings.sTableId + '_wrapper .btnClearDataTableFilter').click(function () {
                        $('#' + oSettings.sTableId).dataTable().fnFilter('');
                    });
                }
            });

            $.ajax({
                url: "{% url 'survey_single_question' question_id %}",
                type: 'POST',
                success: function(data) {
                    var dataContent = '';
                    for (var j = 0; j < question_description['tabs']['question']['fields'].length; j++) {
                        if (question_description['tabs']['question']['fields'][j]['display']) {
                            var field = question_description['tabs']['question']['fields'][j]['id'];
                            var value = data['search_result_data'][0][field];
                            var display_name = question_description['tabs']['question']['fields'][j]['displayName'];
                            var type = question_description['tabs']['question']['fields'][j]['type'];

                            dataContent += get_data_row_html(field, display_name, value, type);
                        }
                    }
                    $('#question_info').append(dataContent);
                    tidy_tab_fields()
                }
            });

            $.ajax({
                url: "{% url 'survey_question_results' question_id %}",
                type: 'POST',
                success: function(data) {
                    var dataContent = '';
                    for (var j = 0; j < question_description['tabs']['results']['fields'].length; j++) {
                        if (question_description['tabs']['results']['fields'][j]['display']) {
                            var field = question_description['tabs']['results']['fields'][j]['id'];
                            var value = data['search_result_data'][0]['data'][field];
                            var display_name = question_description['tabs']['results']['fields'][j]['displayName'];
                            var type = question_description['tabs']['results']['fields'][j]['type'];

                            dataContent += get_data_row_html(field, display_name, value, type);
                        }
                    }
                    $('#results_info').append(dataContent);
                    tidy_tab_fields()
                }
            });

            $.ajax({
                url: "{% url 'survey_question_result_table' question_id %}",
                type: 'POST',
                success: function(data) {
                    var table_columns = data['columns'];

                    var table_columns_complete = [];
                    for (var k = 0; k < table_columns.length; k++) {
                        if (table_columns[k] != 'res_table_id'
                                && table_columns[k] != 'user_id'
                                && table_columns[k] != 'date_time') {
                            var column_title = table_columns[k].replace('_', ' ').split(" ").map(function(i){return i[0].toUpperCase() + i.substring(1)}).join(" ");

                            table_columns_complete.push({
                                'title': column_title,
                                'data': table_columns[k]
                            });
                        }
                    }
                    console.log(table_columns_complete);

                    var survey_questions_table = $('#survey_questions_table').DataTable({
                        serverSide: false,
                        processing: true,
                        data: data['search_result_data'],
                        {#                        ajax: {#}
                        {#                            url: "{% url 'survey_question_result_table' question_id%}",#}
                        {#                            type: 'POST',#}
                        {#                            data: function (d) {},#}
                        {#                            dataSrc: function ( json ) {#}
                        {#                                return json['search_result_data'];#}
                        {#                            }#}
                        {#                        },#}
                        columns: table_columns_complete
                    }).on( 'stateLoaded.dt', function (e, settings, data) {
                        {#                        attach_question_buttons();#}
                    });
                }
            });


            {#            function attach_question_buttons() {#}
            {#                var survey_questions_table = $('#survey_questions_table');#}
            {#                var survey_questions_table_datatable = survey_questions_table.DataTable();#}
            {#                var table_body = survey_questions_table.find('tbody');#}
            {#                table_body.on('click', '.search_from', function () {#}
            {#                    var data = survey_questions_table.row($(this).parents('tr')).data();#}
            {#                    survey_questions_table.search( data['link_from'].trim() ).draw();#}
            {#                });#}
            {#                table_body.on('click', '.search_parent', function () {#}
            {#                    var data = survey_questions_table.row($(this).parents('tr')).data();#}
            {#                    survey_questions_table.search( data['subof'].trim() ).draw();#}
            {#                });#}
            {#            }#}
            {#            attach_question_buttons();#}

            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                tidy_tab_fields()
            });

        });

        function tidy_tab_fields() {
            $(".tab_data_input").each( function() {
                $(this).height(this.scrollHeight);
            });
        }

        function get_data_row_html(field, display_name, value, type) {
            if (type == undefined) {
                return ('<div class="control-group">' +
                '<label for="text_input_{0}" class="control-label col-sm-4">{1}</label>' +
                '<div class="controls">' +
                '<textarea readonly="true" type="text" class="input-block-level col-sm-8 tab_data_input" name="text_input_{0}" ' +
                'id="text_input_{0}" size="20" value="{2}">{2}</textarea>' +
                '</div></div>').format(
                        field, display_name, value
                );
            } else if (type == 'link') {
                return ('<div class="control-group">' +
                '<label for="text_input_{0}" class="control-label col-sm-4">{1}</label>' +
                '<div class="controls">' +
                '<div class="col-sm-8" name="text_input_{0}" ' +
                'style="padding-top: 4px; padding-bottom: 4px; border: 1px solid rgb(169, 169, 169); ' +
                'white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; ' +
                'white-space: -o-pre-wrap; word-wrap: break-word;" ' +
                'id="text_input_{0}" size="20" value="{2}"><a src="{2}" href>{2}</a></div>' +
                '</div></div>').format(
                        field, display_name, value
                );
            } else {
                return ('<div class="control-group">' +
                '<label for="text_input_{0}" class="control-label col-sm-6">{1}</label>' +
                '<div class="controls">' +
                '<textarea readonly="true" type="text" class="input-block-level col-sm-6 tab_data_input" name="text_input_{0}" ' +
                'id="text_input_{0}" size="20" value="{2}">{2}</textarea>' +
                '</div></div>').format(
                        field, display_name, value
                );
            }

        }


    </script>

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Question Details for {{ question_id }}</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Question Metadata
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-pills">
                        <li class="active"><a href="#question_tab" data-toggle="tab">Question</a>
                        </li>
                        <li><a href="#results_tab" data-toggle="tab">Results</a>
                        </li>
                        <li><a href="#survey_questions" data-toggle="tab">Results Table</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="question_tab">
                            <h4>Question</h4>
                            <div id="question_info"></div>
                        </div>
                        <div class="tab-pane fade" id="results_tab">
                            <h4>Results</h4>
                            <div id="results_info"></div>
                        </div>
                        <div class="tab-pane fade" id="survey_questions">
                            <h4>Results Table</h4>

                            <div class="panel-body">
                                <div class="dataTable_wrapper">
                                    <table class="table table-striped table-bordered table-hover" id="survey_questions_table">
                                        <thead>
                                        <tr>
                                            <th>QuestionID</th>
                                            <th>QuestionText</th>
                                            <th>Type</th>
                                            {#                                            <th>Notes</th>#}
                                            {#                                            <th>From</th>#}
                                            {#                                            <th>SubOf</th>#}
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr><td></td><td></td><td></td></tr>
                                        <tr><td></td><td></td><td></td></tr>
                                        <tr><td></td><td></td><td></td></tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                                <div class="well">
                                    <h4>DataTables Usage Information</h4>
                                    <p></p>
                                    <a class="btn btn-default btn-lg btn-block" target="_blank"
                                       href="https://datatables.net/">View DataTables Documentation</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
    </div>

{% endblock %}