{% extends "navigation.html" %}
{% load staticfiles %}
{% load jsonify %}
{% load i18n %}


{% block content %}
    <script>
        $(document).ready(function() {

            var all_fields = [];

            $.ajax({
                url: "{% url 'data_api' %}",
                type: 'GET',
                data: {
                    method: 'search_layer_topojson',
                    search_uuid: '{{ search_uuid }}'
                },
                success: function(data) {
                    {#                    $('#uuid_data').html('<pre>' + JSON.stringify(data['layer_data'], null, 2) + '</pre>');#}
                    var uuid_data_div = $('#uuid_data');

                    all_fields = data['layer_data']['data_names'];

                    for (var data_name_idx in all_fields) {
                        var data_name = all_fields[data_name_idx];

                        var check_div = $('<div/>').addClass('checkbox col-sm-3');
                        uuid_data_div.append(check_div);

                        var check_label = $('<label/>').attr('for', 'check_' + data_name_idx + '_' + data_name)
                                .text(data_name).appendTo(check_div);

                        if (data['layer_data'].hasOwnProperty('display_fields')){

                            var check_input = $('<input/>').attr('id', 'check_' + data_name_idx + '_' + data_name)
                                    .attr('type', 'checkbox')
                                    .attr('name', 'data_fields')
                                    .attr('value', data_name)
                                    .prependTo(check_label);

                            if (data['layer_data']['display_fields'][data_name] == 'true') {
                                check_input.attr('checked', 'checked')
                            }
                        } else {

                            var check_input = $('<input/>').attr('id', 'check_' + data_name_idx + '_' + data_name)
                                    .attr('type', 'checkbox')
                                    .attr('name', 'data_fields')
                                    .attr('checked', 'checked')
                                    .attr('value', data_name)
                                    .prependTo(check_label);
                        }
                    }
                }
            });

            $('#update_hidden_fields').click(function(){

                var selected_fields = [];

                $("input:checkbox[name|='data_fields']:checked").each(function(){
                    selected_fields.push($(this).val());
                });


                $.ajax({
                    url: "{% url 'data_api' %}",
                    type: 'POST',
                    data: {
                        method: 'update_hidden_fields',
                        search_uuid: '{{ search_uuid }}',
                        selected_fields: selected_fields,
                        all_fields: all_fields
                    },
                    success: function(data) {
                        alert('Saved ' + selected_fields);
                    }
                });
            });

            var sec_attr_all = false;
            $('#secondary_attr_toggle').click(function () {
                sec_attr_all = !sec_attr_all;

                {#                if#}

                $("input:checkbox[name|='data_fields']").each(function(){
                    $(this).prop('checked', sec_attr_all);
                });
            });


            var survey_questions_table = $('#dataset_table').DataTable({
                serverSide: false,
                processing: true,
                bAutoWidth: false,
                responsive: true,
                ajax: {
                    url: "{% url 'csv_view_data' 'nomis' search_uuid %}",
                    type: 'GET',
                    data: function (d) {},
                    dataSrc: function ( json ) {
                        return json;
                    }
                },
                columns: {{ dataset_data_header|jsonify }}
            });
        });

    </script>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{% trans 'Remote Data Search' %}</h1>
            </div>
        </div>
        <div class="row">
{#            <h3><a href="{{ dataset_url }}" target="_blank">{% trans 'Dataset Download Link' %}</a></h3>#}

            <a class="btn btn-info" target="_blank" href="{% url 'map' %}?layers={{ search_uuid }}">{% trans 'Map It' %}</a>

            <div class="control-group">
                <label for="text_input_{0}" class="control-label col-sm-4">{% trans 'Dataset ID' %}</label>
                <div class="controls">
                    <textarea readonly="true" type="text" class="input-block-level col-sm-8 tab_data_input"
                         name="text_input_{0}" id="text_input_{0}" size="20" value="{2}">{{ dataset_id }}</textarea>
                </div>
            </div>

            <div class="control-group">
                <label for="text_input_{0}" class="control-label col-sm-4">{% trans 'Dataset Type' %}</label>
                <div class="controls">
                <textarea readonly="true" type="text" class="input-block-level col-sm-8 tab_data_input"
                          name="text_input_{0}" id="text_input_{0}" size="20" value="{2}">{{ provider }}</textarea>
                </div>
            </div>

            <div class="control-group">
                <label for="text_input_{0}" class="control-label col-sm-4">{% trans 'Search Query Options' %}</label>
                <div class="row controls col-sm-8">
                    {% for key, value in search_options.items %}
                        <textarea readonly="true" type="text" class="input-block-level col-sm-12 tab_data_input"
                                  name="text_input_{0}" id="text_input_{0}"
                                  size="20" value="{2}">{{ key }} : {{ value }}
                        </textarea>
                    {% endfor %}
                </div>
            </div>

            <div class="control-group">
                <label for="text_input_{0}" class="control-label col-sm-4">{% trans 'Mapping colours' %}</label>
                <div class="row controls col-sm-8">
                    {% for key, value in display_options.items %}
                        <textarea readonly="true" type="text" class="input-block-level col-sm-12 tab_data_input"
                                  name="text_input_{0}" id="text_input_{0}"
                                  size="20" value="{2}">{{ key }} : {{ value }}
                </textarea>
                    {% endfor %}
                </div>
            </div>

            <div class="control-group">
                <label for="text_input_{0}" class="control-label col-sm-4">{% trans 'Unique Identifier for this search' %}</label>
                <div class="controls">
                <textarea readonly="true" type="text" class="input-block-level col-sm-8 tab_data_input"
                          name="text_input_{0}" id="text_input_{0}"
                          size="20" value="{2}">{{ search_uuid }}
                </textarea>
                </div>
            </div>

            {% if error %}
                <div class="control-group">
                    <label for="text_input_{0}" class="control-label col-sm-4">{% trans 'Errors' %}</label>
                    <div class="controls">
                <textarea readonly="true" type="text" class="input-block-level col-sm-8 tab_data_input"
                          name="text_input_{0}" id="text_input_{0}"
                          size="20" value="{2}">{{ error }}
                </textarea>
                    </div>
                </div>
                {#                <p>{{ error }}</p>#}
            {% endif %}



        </div>

        <div class="row">
            <div class="panel panel-default">
                <form role="form" lpformnum="1">
                    <div class="panel-heading">
                        <h4>{% trans 'Secondary Attributes' %}</h4>
                    </div>
                    <div class="panel-body">
                        <div id="uuid_data" class="form-group row"></div>
                    </div>
                    <div class="panel-footer">
                        <div id="update_hidden_fields" class="btn btn-info push-right">{% trans 'Save' %}</div>
                        <div id="secondary_attr_toggle" class="btn btn-info">{% trans 'Toggle All/None' %}</div>
                    </div>
                </form>
            </div>

        </div>


        <div class="row">
            <table id="dataset_table">
                <thead>
                <tr>
                    {% for table_header in dataset_data_header %}
                        <th>{{ table_header }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                <tr>
                    {% for table_header in dataset_data_header %}
                        <td></td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->

{% endblock %}

