{% extends "navigation.html" %}
{% load staticfiles %}
{% load i18n %}

{% block page_name %}{% trans 'Search' %}{% endblock %}

{% block extra_head %}
    <script type="text/javascript" src="{% static 'dataportal/page_js/search.js' %}"></script>
    <script>

        $(document).ready(function(){

            var survey_questions_table = $('#survey_questions_table').DataTable({
                serverSide: false,
                processing: true,
                "bAutoWidth": false,
                "oLanguage": datatables_language,
                responsive: true,
                ajax: {
                    url: "{% url 'search_survey_question_api'%}?search_terms={{ search_terms }}",
                    type: 'GET',
                    data: function (d) {},
                    dataSrc: function ( json ) {
                        return json['search_result_data'];
                    }
                },
                columns: [
                    {'data': 'survey__survey_title'},
                    {'data': 'questionnumber'},
                    {'data': 'literal_question_text'},
                    {'data': 'survey__collectionstartdate'},
                    {
                        "targets": -3,
                        "data": 'metadatatoremotemapping__remote_dataset__dataset_identifier',
                        "render": function ( data, type, full, meta ) {
                            if (data) {

                                return "<a {% if preferences.links_new_tab %}target='_blank'{% endif %} " +
                                        "href='/map?rd_srcs=Nomis&rd_ids=" + data.trim() + "' class='btn btn-success view_question'>{% trans 'Map Dataset' %}</a>";
                            } else {
                                return ''
                            }
                        }
                    },
                    {
                        "targets": -2,
                        "data": 'qid',
                        "render": function ( data, type, full, meta ) {
                            return "<a {% if preferences.links_new_tab %}target='_blank'{% endif %} " +
                                    "href='/question/" + data.trim() + "' class='btn btn-success view_question'>{% trans 'Question' %}</a>";
                        }
                    },
                    {
                        "targets": -1,
                        "data": 'survey__identifier',
                        "render": function ( data, type, full, meta ) {
                            return "<a {% if preferences.links_new_tab %}target='_blank'{% endif %} " +
                                    "href='/survey/" + data + "' class='btn btn-success view_survey'>{% trans 'Survey' %}</a>";
                        }
                    }
                ]
            }).on( 'stateLoaded.dt', function (e, settings, data) {
            });

            var survey_table = $('#survey_table').DataTable({
                serverSide: false,
                processing: true,
                "bAutoWidth": false,
                responsive: true,
                "oLanguage": datatables_language,
                ajax: {
                    url: "{% url 'search_survey_api'%}?search_terms={{ search_terms }}",
                    type: 'GET',
                    data: function (d) {},
                    dataSrc: function ( json ) {
                        return json['search_result_data'];
                    }
                },
                columns: [
                    {'data': 'survey_title'},
                    {'data': 'surveyfrequency'},
                    {'data': 'collectionsituation'},
                    {'data': 'collectionstartdate'},
                    {
                        "targets": -3,
                        "data": 'identifier',
                        "render": function ( data, type, full, meta ) {
                            return "<a {% if preferences.links_new_tab %}target='_blank'{% endif %} " +
                                    "href='/survey/" + data.trim() + "' class='btn btn-success view_survey'>{% trans 'View' %}</a>";
                        }
                    },
                    {
                        "targets": -2,
                        data: "area",
                        'render': function ( data, type, full, meta ) {

                            if (data.length > 0) {

                                var select_box = "<select class='select'>";
                                for (var o in data) {
                                    select_box += '<option value="' + data[o] + '">' + data[o] + '</option>';
                                }
                                select_box += "</select>";
                                return select_box;
                            } else {
                                return ''
                            }
                        }
                    },
                    {
                        "targets": -1,
                        "data": "area",
                        "render" : function( data, type, full, meta ) {
                            if (data.length > 0) {
                                return "<div class='btn btn-success map_survey'>{% trans 'Map Survey' %}</div>";
                            } else {
                                return ''
                            }
                        }
                        {#                        "defaultContent": "<div class='btn btn-success map_survey'>{% trans 'Map Survey' %}</div>"#}
                    }
                ]
            });

            function attach_map_survey_buttons() {
                $('#survey_table').find('tbody').on('click', '.map_survey', function () {

                    var select_box_row = $(this).parents('tr');
                    console.log(select_box_row);

                    var select_box = select_box_row.find('select');
                    console.log(select_box);
                    console.log(select_box.val());

                    var data = survey_table.row($(this).parents('tr')).data();
                    var url_params = $.param({
                        'surveys': data['identifier'],
                        'boundary':select_box.val()
                    });

                    var url_complete = "{% url 'map' %}" + '?' + url_params;
                    {% if preferences.links_new_tab %}
                        window.open(url_complete, '_blank');
                    {% else %}
                        window.location.href = url_complete;
                    {% endif %}
                });
            }
            attach_map_survey_buttons();

            var qual_table = $('#qual_table').DataTable({
                serverSide: false,
                processing: true,
                "bAutoWidth": false,
                responsive: true,
                "oLanguage": datatables_language,
                ajax: {
                    url: "{% url 'search_qual_api'%}?search_terms={{ search_terms }}",
                    type: 'GET',
                    data: function (d) {},
                    dataSrc: function ( json ) {
                        return json['search_result_data'];
                    }
                },
                columns: [
                    {'data': 'dc_info__title'},
                    {'data': 'dc_info__description'},
                    {'data': 'pages'},
                    {'data': 'dc_info__tier'},
                    {'data': 'dc_info__date'},
                    {
                        "targets": -1,
                        "data": 'identifier',
                        "render": function ( data, type, full, meta ) {
                            return "<a {% if preferences.links_new_tab %}target='_blank'{% endif %} " +
                                    "href='/qual_transcript/" + data.trim() + "' class='btn btn-success view_question'>{% trans 'View' %}</a>";
                        }
                    }
                ]
            });
        });
    </script>

{% endblock %}

{% block nav_extras %}{% endblock %}

{% block content %}

    <div class="container-fluid">

        <div id="table_nav_row" class="row">
            <h1 class="page-header">
                <i class="icon-background icon-background-green fa fa-search"></i>   {% trans 'Search' %}</h1>


        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <form action="{% url 'search_survey_question_gui' %}" method="get" role="search">
                    <div id="search_box" class="input-group custom-search-form">
                        <input value="{{ search_terms }}" type="text" class="form-control" placeholder="{% trans 'Search...' %}" name="search_terms">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                    </div>
                </form>
            </div>
             <div class="col-lg-2 col-md-8 ol-lg-offset-3">
                <div class="panel panel-browse_surveys">
                    <a href="{% url 'browse_surveys' %}">
                        <div class="panel-footer">
                            <span class="pull-left">{% trans 'Not sure what you are looking for?' %}</span>
                            <span>{% trans '<strong>Browse Surveys here</strong>  ' %}<i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h4>{% trans 'Jump to:' %}</h4>

                <ul class="nav nav-pills">
                    <li>
                        <a id="question_row_jump" class="btn btn-outline btn-default" href="#question_row">{% trans 'Questions' %}</a>
                    </li>
                    <li>
                        <a id="survey_row_jump" class="btn btn-outline btn-default" href="#survey_row">{% trans 'Surveys' %}</a>
                    </li>
                    <li>
                        <a id="qual_row_jump" class="btn btn-outline btn-default" href="#qual_row">{% trans 'Qualitative Records' %}</a>
                    </li>
                </ul>
            </div>
        </div>

        <div id="question_row" class="row">
            <h3>{% trans 'Questions' %}</h3>

            <a href="#table_nav_row" class="pull-right">
                <button class="btn btn-info btn-outline">
                    <i class="fa fa-arrow-circle-up"></i> {% trans 'Top' %}
                </button>
            </a>

            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="survey_questions_table">
                        <thead>
                        <tr>
                            <th>{% trans 'Survey Title' %}</th>
                            <th>{% trans 'Question Number' %}</th>
                            <th>{% trans 'Question Text' %}</th>
                            <th>{% trans 'Date' %}</th>

                            <th>{% trans 'Map dataset' %}</th>
                            <th>{% trans 'View Question' %}</th>
                            <th>{% trans 'View Survey' %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                        <tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                        <tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                        <tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                        <tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div id="survey_row" class="row">
            <h3>{% trans 'Survey Results' %}</h3>

            <a href="#table_nav_row" class="pull-right">
                <button class="btn btn-info btn-outline">
                    <i class="fa fa-arrow-circle-up"></i> {% trans 'Top' %}
                </button>
            </a>

            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="survey_table">
                        <thead>
                        <tr>
                            <th>{% trans 'Title' %}</th>
                            <th>{% trans 'Frequency' %}</th>
                            <th>{% trans 'Collection Method' %}</th>
                            <th>{% trans 'Date' %}</th>

                            <th>{% trans 'View' %}</th>
                            <th>{% trans 'Area' %}</th>
                            <th>{% trans 'Map' %}</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                        <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                        <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                        <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                        <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div id="qual_row" class="row">
            <h3>{% trans 'Qualitative Results' %}</h3>

            <a href="#table_nav_row" class="pull-right">
                <button class="btn btn-info btn-outline">
                    <i class="fa fa-arrow-circle-up"></i> {% trans 'Top' %}
                </button>
            </a>

            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="qual_table">
                        <thead>
                        <tr>
                            <th>{% trans 'Title' %}</th>
                            <th>{% trans 'Description' %}</th>
                            <th>{% trans 'Pages' %}</th>
                            <th>{% trans 'Tier' %}</th>
                            <th>{% trans 'Date' %}</th>

                            <th>{% trans 'View' %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                        <tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                        <tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                        <tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <p>
            <a href="#table_nav_row" class="pull-right">
                <button class="btn btn-info btn-outline">
                    <i class="fa fa-arrow-circle-up">  </i>{% trans 'Top' %}
                </button>
            </a>
        </p>

    </div>

{% endblock %}