{% extends "navigation.html" %}
{% load staticfiles %}

{% block extra_head %}

    <script>

        $(document).ready(function(){
            var survey_questions_table = $('#survey_questions_table').DataTable({
                serverSide: false,
                processing: true,
                "bAutoWidth": false,
                responsive: true,
                ajax: {
                    url: "{% url 'search_survey_question_api'%}?search_terms={{ search_terms }}",
                    type: 'GET',
                    data: function (d) {},
                    dataSrc: function ( json ) {
                        return json['search_result_data'];
                    }
                },
                columns: [
                    {'data': 'survey__survey_title'},
                    {'data': 'questionnumber'},
                    {'data': 'literal_question_text'},
                    {'data': 'survey__collectionstartdate'},
{#                    {'data': 'type'},#}
{#                    {'data': 'notes'},#}

                    {#                    {#}
                    {#                        "targets": -3,#}
                    {#                        "data": null,#}
                    {#                        "render": function ( data, type, full, meta ) {#}
                    {#                            if (data['link_from'].trim() != '' && data['link_from'].trim() != 'N/A' ) {#}
                    {#                                return "<div class='btn btn-info search_from'>Previous</div>";#}
                    {#                            } else {#}
                    {#                                return ""#}
                    {#                            }#}
                    {#                        }#}
                    {#                    },#}
                    {#                    {#}
                    {#                        "targets": -2,#}
                    {#                        "data": null,#}
                    {#                        "render": function ( data, type, full, meta ) {#}
                    {#                            if (data['subof'].trim() != '' && data['subof'].trim() != 'N/A' ) {#}
                    {#                                return "<div class='btn btn-info search_parent'>Parent</div>";#}
                    {#                            } else {#}
                    {#                                return ""#}
                    {#                            }#}
                    {#                        }#}
                    {#                    },#}
                    {
                        "targets": -2,
                        "data": 'qid',
                        "render": function ( data, type, full, meta ) {
                            {#                            console.log(data);#}
                            return "<a {% if preferences.links_new_tab %}target='_blank'{% endif %} " +
                                    "href='/question/" + data.trim() + "' class='btn btn-success view_question'>Question</a>";
                            {#                            return "<div class='btn btn-success view_question'>View</div>";#}
                        }
                    },
                    {
                        "targets": -1,
                        "data": 'survey__identifier',
                        "render": function ( data, type, full, meta ) {
                            {#                            console.log(data);#}
                            return "<a {% if preferences.links_new_tab %}target='_blank'{% endif %} " +
                                    "href='/survey/" + data + "' class='btn btn-success view_survey'>Survey</a>";
{#                            return "<div class='btn btn-success view_question'>View</div>";#}
                        }
                    }
                ]
            }).on( 'stateLoaded.dt', function (e, settings, data) {
            });

        var survey_table = $('#survey_table').DataTable({
                serverSide: false,
                processing: true,
                "bAutoWidth": false,
                responsive: true,
                ajax: {
                    url: "{% url 'search_survey_api'%}?search_terms={{ search_terms }}",
                    type: 'GET',
                    data: function (d) {},
                    dataSrc: function ( json ) {
                        return json['search_result_data'];
                    }
                },
                columns: [
                    {'data': 'survey_title'},
                    {'data': 'surveyfrequency'},
                    {'data': 'collectionsituation'},
                    {'data': 'collectionstartdate'},
                    {
                        "targets": -1,
                        "data": 'surveyid',
                        "render": function ( data, type, full, meta ) {
                            {#                            console.log(data);#}
                            return "<a {% if preferences.links_new_tab %}target='_blank'{% endif %} " +
                                    "href='/survey/" + data.trim() + "' class='btn btn-success view_survey'>View</a>";
                            {#                            return "<div class='btn btn-success view_question'>View</div>";#}
                        }
                    }
                ]
            });

            var qual_table = $('#qual_table').DataTable({
                serverSide: false,
                processing: true,
                "bAutoWidth": false,
                responsive: true,
                ajax: {
                    url: "{% url 'search_qual_api'%}?search_terms={{ search_terms }}",
                    type: 'GET',
                    data: function (d) {},
                    dataSrc: function ( json ) {
                        return json['search_result_data'];
                    }
                },
                columns: [
                    {'data': 'dc_info__title'},
                    {'data': 'dc_info__description'},
                    {'data': 'pages'},
                    {'data': 'dc_info__tier'},
                    {'data': 'dc_info__date'},
                    {
                        "targets": -1,
                        "data": 'identifier',
                        "render": function ( data, type, full, meta ) {
                            {#                            console.log(data);#}
                            return "<a {% if preferences.links_new_tab %}target='_blank'{% endif %} " +
                                    "href='/qual_transcript/" + data.trim() + "' class='btn btn-success view_question'>View</a>";
                            {#                            return "<div class='btn btn-success view_question'>View</div>";#}
                        }
                    }
                ]
            });
        });
    </script>

{% endblock %}

{% block nav_extras %}{% endblock %}

{% block content %}
    <div id="table_nav_row" class="row">
        <h1>Search Results</h1>
    </div>

    <div class="row">
        <ul class="nav nav-pills">
            <li>
                <a class="btn btn-outline btn-default" href="#question_row">Questions</a>
            </li>
            <li>
                <a class="btn btn-outline btn-default" href="#survey_row">Surveys</a>
            </li>
            <li>
                <a class="btn btn-outline btn-default" href="#qual_row">Qualitative Records</a>
            </li>
        </ul>
    </div>

    <div id="question_row" class="row">
        <h3>Questions</h3>
        <a href="#table_nav_row">Top</a>

        <div class="panel-body">
            <div class="dataTable_wrapper">
                <table class="table table-striped table-bordered table-hover" id="survey_questions_table">
                    <thead>
                    <tr>
                        <th>Survey Title</th>
                        <th>Question Number</th>
                        <th>QuestionText</th>
                        <th>Date</th>
{#                        <th>Type</th>#}
{#                        <th>Notes</th>#}
                        {#                    <th>From</th>#}
                        {#                    <th>SubOf</th>#}
                        <th>View Question</th>
                        <th>View Survey</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><td></td><td></td><td></td><td></td><td></td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="survey_row" class="row">
        <h3>Survey Results</h3>
        <a href="#table_nav_row">Top</a>

        <div class="panel-body">
            <div class="dataTable_wrapper">
                <table class="table table-striped table-bordered table-hover" id="survey_table">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Frequency</th>
                        <th>Collection Method</th>
                        <th>Date</th>

                        <th>View</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr><td></td><td></td><td></td><td></td><td></td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div id="qual_row" class="row">
        <h3>Qualitative Results</h3>
        <a href="#table_nav_row">Top</a>

        <div class="panel-body">
            <div class="dataTable_wrapper">
                <table class="table table-striped table-bordered table-hover" id="qual_table">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Pages</th>
                            <th>Tier</th>
                            <th>Date</th>

                            <th>View</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                        <tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                        <tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                        <tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {#    <div>#}
    {#        <!-- /.table-responsive -->#}
    {#        <div class="well">#}
    {#            <h4>DataTables Usage Information</h4>#}
    {#            <p></p>#}
    {#            <a class="btn btn-default btn-lg btn-block" target="_blank" href="https://datatables.net/">View DataTables Documentation</a>#}
    {#        </div>#}
    {##}
    {#        {% for d in data.search_result_data %}#}
    {#            {{ d }}<br><br>#}
    {#        {% endfor %}#}
    {#    </div>#}
{% endblock %}