{% extends "navigation.html" %}
{% load staticfiles %}

{% block content %}

    <script>

        $(document).ready(function () {
            $('#submit_preferences').click(function(){
                waitingDialog.show('Saving ...');
                $.ajax({
                    url: "{% url 'edit_metadata' %}",
                    type: 'GET',
                    data: $('#preferences_form').serialize(),
                    success: function(data) {
                        if(data['success']){
                            location.reload(true);
                        } else {
                            console.log(data);
                        }
                    },
                    complete: function() {
                        setTimeout(function () {
                            waitingDialog.hide();
                        }, 1000);
                    }
                });
            });
        });
    </script>

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Settings</h1>
            {#            <h4> {% if preferences.links_new_tab %}new tabs{% else %}same tabs{% endif %}</h4>#}
        </div>
    </div>

    <form id="preferences_form" action="{% url 'edit_metadata' %}" method="get" role="search">
        <input type="hidden" name="function" value="set_user_preferences">
        <div class="row">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Links and Tabs
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="checkbox col-sm-4">
                            <label>
                                <input id="links_new_tab" name="links_new_tab"
                                       {% if preferences.links_new_tab %}checked="checked"{% endif %}
                                       type="checkbox" value="">Open links in new tab
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <span class="input-group-btn">
                <div id="submit_preferences" class="btn btn-success" >Save</div>
            </span>
        </div>
    </form>

    <!-- /.row -->
    <!-- /.row -->
{% endblock %}