{% extends "navigation.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
    <script>

        var survey_description = {
            'tabs' : {
                'survey': {
                    'title': 'Survey',
                    'style': 'form',
                    'url': "{% url 'survey_metadata' survey_id %}",
                    'columns': [],
                    'fields': [
                        {'display': false, 'displayName': '{% trans 'Survey ID' %}', 'id': 'surveyid'},
                        {'display': false, 'displayName': '{% trans 'Identifier' %}', 'id': 'identifier'},
                        {'display': true, 'displayName': '{% trans 'Survey Title' %}', 'id': 'survey_title'},
                        {'display': true, 'displayName': '{% trans 'Data Collector' %}', 'id': 'datacollector'},
                        {'display': true, 'displayName': '{% trans 'Collection Start Date' %}', 'id': 'collectionstartdate'},
                        {'display': true, 'displayName': '{% trans 'Collection End Date' %}', 'id': 'collectionenddate'},
                        {'display': true, 'displayName': '{% trans 'Method of Collection Description' %}', 'id': 'moc_description'},
                        {'display': true, 'displayName': '{% trans 'Sampling Procedure' %}', 'id': 'samp_procedure'},
                        {'display': true, 'displayName': '{% trans 'Collection Situation' %}', 'id': 'collectionsituation'},
                        {'display': true, 'displayName': '{% trans 'Survey Frequency' %}', 'id': 'surveyfrequency'},
                        {'display': true, 'displayName': '{% trans 'Survey Start Date' %}', 'id': 'surveystartdate'},
                        {'display': true, 'displayName': '{% trans 'Survey End Date' %}', 'id': 'surveyenddate'},
                        {'display': true, 'displayName': '{% trans 'DES Weighting' %}', 'id': 'des_weighting'},
                        {'display': true, 'displayName': '{% trans 'Sample Size' %}', 'id': 'samplesize'},
                        {'display': true, 'displayName': '{% trans 'Response Rate' %}', 'id': 'responserate'},
                        {'display': true, 'displayName': '{% trans 'Description Of Sampling Error' %}', 'id': 'descriptionofsamplingerror'},
                        {'display': false, 'displayName': '{% trans 'Data Product' %}', 'id': 'dataproduct'},
                        {'display': false, 'displayName': '{% trans 'Data Product ID' %}', 'id': 'dataproductid'},
                        {'display': true, 'displayName': '{% trans 'Location' %}', 'id': 'location'},
                        {'display': true, 'displayName': '{% trans 'URL' %}', 'id': 'link', 'type': 'link'},
                        {'display': true, 'displayName': '{% trans 'Notes' %}', 'id': 'notes'},
                        {'display': false, 'displayName': '{% trans 'User ID' %}', 'id': 'user_id'},
                        {'display': true, 'displayName': '{% trans 'Created' %}', 'id': 'created'},
                        {'display': true, 'displayName': '{% trans 'Updated' %}', 'id': 'updated'},
                        {'display': false, 'displayName': '{% trans 'Long' %}', 'id': 'long'},
                        {'display': true, 'displayName': '{% trans 'Short Title' %}', 'id': 'short_title'},
                        {'display': false, 'displayName': '{% trans 'Spatial Data' %}', 'id': 'spatialdata'}]
                },
                'dc' : {
                    'title': '{% trans 'Dublin Core' %}',
                    'style': 'form',
                    'url': "{% url 'survey_dc_data' survey_id %}",
                    'columns': [],
                    'fields': [
                        {'display': false, 'displayName': '{% trans 'Identifier' %}', 'id': 'identifier'},
                        {'display': true, 'displayName': '{% trans 'Title' %}', 'id': 'title'},
                        {'display': true, 'displayName': '{% trans 'Creators' %}', 'id': 'creators'},
                        {'display': true, 'displayName': '{% trans 'Subjects' %}', 'id': 'subjects'},
                        {'display': true, 'displayName': '{% trans 'Description' %}', 'id': 'description'},
                        {'display': true, 'displayName': '{% trans 'Publishers' %}', 'id': 'publishers'},
                        {'display': true, 'displayName': '{% trans 'Contributors' %}', 'id': 'contributors'},
                        {'display': true, 'displayName': '{% trans 'Date' %}', 'id': 'date'},
                        {'display': true, 'displayName': '{% trans 'Type' %}', 'id': 'type__dc_type_title'},
                        {'display': true, 'displayName': '{% trans 'Format' %}', 'id': 'format__dc_format_title'},
                        {'display': true, 'displayName': '{% trans 'Source URL' %}', 'id': 'source_url'},
                        {'display': true, 'displayName': '{% trans 'Source DOI' %}', 'id': 'source_doi'},
                        {'display': true, 'displayName': '{% trans 'Language' %}', 'id': 'language__dc_language_title'},
                        {'display': true, 'displayName': '{% trans 'Relation Same Collection' %}', 'id': 'relation_same_collection'},
                        {'display': true, 'displayName': '{% trans 'Relation Different Collection' %}', 'id': 'relation_different_collection'},
                        {'display': true, 'displayName': '{% trans 'Coverage Spatial' %}', 'id': 'coverage_spatial'},
                        {'display': true, 'displayName': '{% trans 'Coverage Start' %}', 'id': 'coverage_temporal_start'},
                        {'display': true, 'displayName': '{% trans 'Coverage End' %}', 'id': 'coverage_temporal_end'},
                        {'display': true, 'displayName': '{% trans 'Rights' %}', 'id': 'rights'},
                        {'display': false, 'displayName': '{% trans 'User ID' %}', 'id': 'user_id'},
                        {'display': true, 'displayName': '{% trans 'Created' %}', 'id': 'created'},
                        {'display': true, 'displayName': '{% trans 'Updated' %}', 'id': 'updated'}]
                },
                'question':{
                    'title': '{% trans 'Question' %}',
                    'style': 'table',
                    'url': "{% url 'survey_questions' survey_id %}",
                    'columns': [
                        {'data': 'questionnumber'},
                        {'data': 'literal_question_text'},
                        {'data': 'questionnumber'},
                        {#                            {'data': 'thematic_groups'},#}
                        {#                            {'data': 'thematic_tags'},#}
                        {'data': 'link_from'},
                        {'data': 'subof'},
                        {'data': 'type'},
                        {#                            {'data': 'variableid'},#}
                        {'data': 'notes'},
                        {#                            {'data': 'user_id'},#}
                        {#                            {'data': 'created'},#}
                        {#                            {'data': 'updated'}#}
                    ]
                }

            }
        };

        $(document).ready(function () {
            $.extend( $.fn.dataTable.defaults, {
                fnInitComplete: function(oSettings, json) {
                    var btnClear = $('<button class="btnClearDataTableFilter btn btn-info"><i class="fa fa-times"></button>');
                    btnClear.appendTo($('#' + oSettings.sTableId).parents('.dataTables_wrapper').find('.dataTables_filter'));
                    $('#' + oSettings.sTableId + '_wrapper .btnClearDataTableFilter').click(function () {
                        $('#' + oSettings.sTableId).dataTable().fnFilter('');
                    });
                }
            });

            $.ajax({
                url: "{% url 'survey_metadata' survey_id %}",
                type: 'POST',
                success: function(data) {
                    $('#survey_title_header').html(data['search_result_data'][0]['data']['survey_title']);

                    var dataContent = '';
                    for (var j = 0; j < survey_description['tabs']['survey']['fields'].length; j++) {
                        if (survey_description['tabs']['survey']['fields'][j]['display']) {
                            var field = survey_description['tabs']['survey']['fields'][j]['id'];
                            var value = data['search_result_data'][0]['data'][field];
                            var display_name = survey_description['tabs']['survey']['fields'][j]['displayName'];
                            var type = survey_description['tabs']['survey']['fields'][j]['type'];

                            dataContent += get_data_row_html(field, display_name, value, type);
                        }
                    }
                    $('#survey_info').append(dataContent);
                    tidy_tab_fields()
                }
            });

            $.ajax({
                url: "{% url 'survey_dc_data' survey_id %}",
                type: 'POST',
                success: function(data) {
                    var dataContent = '';
                    for (var j = 0; j < survey_description['tabs']['dc']['fields'].length; j++) {
                        if (survey_description['tabs']['dc']['fields'][j]['display']) {
                            var field = survey_description['tabs']['dc']['fields'][j]['id'];
                            var value = data['search_result_data'][0]['data'][field];
                            var display_name = survey_description['tabs']['dc']['fields'][j]['displayName'];
                            var type = survey_description['tabs']['survey']['fields'][j]['type'];

                            dataContent += get_data_row_html(field, display_name, value, type);
                        }
                    }
                    $('#dc_info').append(dataContent);
                    tidy_tab_fields()
                }
            });

            var survey_questions_table = $('#survey_questions_table').DataTable({
                serverSide: false,
                processing: true,
                ajax: {
                    url: "{% url 'survey_questions' survey_id%}",
                    type: 'POST',
                    data: function (d) {},
                    dataSrc: function ( json ) {
                        return json['search_result_data'];
                    }
                },
                columns: [
                    {'data': 'questionnumber'},
                    {'data': 'literal_question_text'},
                    {#                    {'data': 'questionnumber'},#}
                    {#                            {'data': 'thematic_groups'},#}
                    {#                            {'data': 'thematic_tags'},#}
                    {'data': 'type'},
                    {'data': 'notes'},
                    {
                        "targets": -3,
                        "data": null,
                        "render": function ( data, type, full, meta ) {
                            if (data['link_from'] != null && data['link_from'].trim() != '' && data['link_from'].trim() != 'N/A' ) {
                                return "<div class='btn btn-info search_from'>{% trans 'Previous' %}</div>";
                            } else {
                                return ""
                            }
                        }
                    },
                    {
                        "targets": -2,
                        "data": null,
                        "render": function ( data, type, full, meta ) {
                            if (data['subof'] != null && data['subof'].trim() != '' && data['subof'].trim() != 'N/A' ) {
                                return "<div class='btn btn-info search_parent'>{% trans 'Parent' %}</div>";
                            } else {
                                return ""
                            }
                        }
                    },
                    {
                        "targets": -1,
                        "data": null,
                        "render": function ( data, type, full, meta ) {
                            return "<div class='btn btn-success view_question'>{% trans 'View' %}</div>";
                        }
                    }
                ]
            }).on( 'stateLoaded.dt', function (e, settings, data) {
                attach_question_buttons();
            });

            function attach_question_buttons() {
                var table_body = $('#survey_questions_table').find('tbody');
                table_body.on('click', '.search_from', function () {
                    var data = survey_questions_table.row($(this).parents('tr')).data();
                    survey_questions_table.search( data['link_from'].trim() ).draw();
                });
                table_body.on('click', '.search_parent', function () {
                    var data = survey_questions_table.row($(this).parents('tr')).data();
                    survey_questions_table.search( data['subof'].trim() ).draw();
                });
                table_body.on('click', '.view_question', function () {
                    var data = survey_questions_table.row($(this).parents('tr')).data();
                    {% if preferences.links_new_tab %}
                        window.open('/question/' + data['qid'], '_blank');
                    {% else %}
                        window.location.href = '/question/' + data['qid'];
                    {% endif %}
                });
            }
            attach_question_buttons();

            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                tidy_tab_fields()
            });

        });

        function tidy_tab_fields() {
            $(".tab_data_input").each( function() {
                $(this).height(this.scrollHeight);
            });
        }

        function get_data_row_html(field, display_name, value, type) {
            if (type == undefined) {
                return ('<div class="control-group">' +
                '<label for="text_input_{0}" class="control-label col-sm-4">{1}</label>' +
                '<div class="controls">' +
                '<textarea readonly="true" type="text" class="input-block-level col-sm-8 tab_data_input" name="text_input_{0}" ' +
                'id="text_input_{0}" size="20" value="{2}">{2}</textarea>' +
                '</div></div>').format(
                        field, display_name, value
                );
            } else if (type == 'link') {

                var link_formatted = '<div class="control-group">' +
                        '<label for="text_input_{0}" class="control-label col-sm-4">{1}</label>' +
                        '<div class="controls">';

                if (value != 'N/A') {

                    link_formatted += '<div class="col-sm-8" name="text_input_{0}" ' +
                    'style="padding-top: 4px; padding-bottom: 4px; border: 1px solid rgb(169, 169, 169); ' +
                    'white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; ' +
                    'white-space: -o-pre-wrap; word-wrap: break-word;" ' +
                    'id="text_input_{0}" size="20" value="{2}">' +
                    '<a href="{2}" target="_blank">{2}</a>';
                } else {
                    link_formatted += '<textarea readonly="true" type="text" class="input-block-level col-sm-8 tab_data_input" name="text_input_{0}" ' +
                    'id="text_input_{0}" size="20" value="{2}">{2}</textarea>';
                }
                link_formatted += '</div></div></div>';

                return (link_formatted).format(
                        field, display_name, value
                );

            } else {
                return ('<div class="control-group">' +
                '<label for="text_input_{0}" class="control-label col-sm-6">{1}</label>' +
                '<div class="controls">' +
                '<textarea readonly="true" type="text" class="input-block-level col-sm-6 tab_data_input" name="text_input_{0}" ' +
                'id="text_input_{0}" size="20" value="{2}">{2}</textarea>' +
                '</div></div>').format(
                        field, display_name, value
                );
            }

        }


    </script>

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" id="survey_title_header">{% trans 'Survey Details for : ' %}{{ survey_id }}</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    {% if access_allow %}
        {% for access in access_allow.access_data %}
    <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <p>{% trans 'You have access to this {{ access_allow.document_type }} because you are a member of the "{{ access.survey_collection_user_group_name }}" group.' %}</p>
        <p>{% trans 'Please be aware that the information for "{{ access.survey_collection_name}}" has restricted access.' %}</p>
        <p>{% trans 'Contact the WISERD DataPortal admin team for more information' %}</p>
    </div>
        {% endfor %}
    {% endif %}

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {% trans 'Survey Metadata' %}
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-pills">
                        <li><a href="#survey_dc_tab" data-toggle="tab">{% trans 'Dublin Core' %}</a>
                        </li>
                        <li class="active"><a href="#survey_tab" data-toggle="tab">{% trans 'Survey' %}</a>
                        </li>
                        <li><a href="#survey_questions" data-toggle="tab">{% trans 'Questions' %}</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fade" id="survey_dc_tab">
                            <h4>{% trans 'Dublin Core' %}</h4>
                            <div id="dc_info"></div>
                        </div>
                        <div class="tab-pane fade in active" id="survey_tab">
                            <h4>{% trans 'Survey' %}</h4>
                            <div id="survey_info"></div>
                        </div>
                        <div class="tab-pane fade" id="survey_questions">
                            <h4>{% trans 'Questions' %}</h4>

                            <div class="panel-body">
                                <div class="dataTable_wrapper">
                                    <table class="table table-striped table-bordered table-hover" id="survey_questions_table">
                                        <thead>
                                        <tr>
                                            <th>{% trans 'Question Number' %}</th>
                                            <th>{% trans 'QuestionText' %}</th>
                                            <th>{% trans 'Type' %}</th>
                                            <th>{% trans 'Notes' %}</th>
                                            <th>{% trans 'From' %}</th>
                                            <th>{% trans 'SubOf' %}</th>
                                            <th>{% trans 'View' %}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr><td></td><td></td><td></td><td></td><td></td></tr>
                                        <tr><td></td><td></td><td></td><td></td><td></td></tr>
                                        <tr><td></td><td></td><td></td><td></td><td></td></tr>
                                        <tr><td></td><td></td><td></td><td></td><td></td></tr>
                                        <tr><td></td><td></td><td></td><td></td><td></td></tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
{#                                <div class="well">#}
{#                                    <h4>DataTables Usage Information</h4>#}
{#                                    <p></p>#}
{#                                    <a class="btn btn-default btn-lg btn-block" target="_blank" href="https://datatables.net/">View DataTables Documentation</a>#}
{#                                </div>#}
                            </div>

                        </div>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
    </div>

{% endblock %}