{% extends "navigation.html" %}
{% load staticfiles %}
{% load i18n %}

{% block page_name %}{% trans 'Terms and Conditions' %}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{% trans 'Terms and Conditions' %}</h1>
            </div>
        </div>


        <div class="row">
            <h2>{% trans 'User data' %}</h2>

            <p>{% blocktrans %}Knowledge of your usage of the WISERD DataPortal helps us continue the development of this service as a research output. Data relating to your usage of this service will help us improve functionality and add new features.{% endblocktrans%}</p>

            <p>{% blocktrans %}If you have signed up, your usage data may be used for usability studies of the site, to aid further development, and help us target specific types of users, i.e. industry or academia.
            {% endblocktrans %}
            </p>

            <p>{% blocktrans %}You may also be emailed to inform you of any relevant workshops run by the WISERD team.{% endblocktrans%}
            </p>

        </div>

        <div class="row">
            <h2>{% trans 'Terms and Conditions of usage' %}</h2>

            <p>Welcome to our website. If you continue to browse and use this website, you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern WISERD's relationship with you in relation to this website. If you disagree with any part of these terms and conditions, please do not use our website.
            </p>

            <p>The term 'WISERD DataPortal' or 'us' or 'we' refers to the owner of the website. The term 'you' refers to the user or viewer of our website.
            </p>

            <p>The use of this website is subject to the following terms of use:
            </p>
            <p>

            <ul>
                <li>The content of the pages of this website is for your general information and use only. It is subject to change without notice.
                </li>
                <li>This website uses cookies to monitor browsing preferences. If you do allow cookies to be used, the following personal information may be stored by us for use by projects affiliated with the WISERD Hub.
                </li>
                <li>Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on this website for any particular purpose. You acknowledge that such information and materials may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.
                </li>
                <li>Your use of any information or materials on this website is entirely at your own risk, for which we shall not be liable. It shall be your own responsibility to ensure that any products, services or information available through this website meet your specific requirements.
                </li>
                <li>This website contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look, appearance and graphics. Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these terms and conditions.
                </li>
                <li>All trade marks reproduced in this website which are not the property of, or licensed to, the operator are acknowledged on the website.
                </li>
                <li>Unauthorised use of this website may give rise to a claim for damages and/or be a criminal offence.
                </li>
                <li>From time to time this website may also include links to other websites. These links are provided for your convenience to provide further information. They do not signify that we endorse the website(s). We have no responsibility for the content of the linked website(s).
                </li>
                <li>
                    Your use of this website and any dispute arising out of such use of the website is subject to the laws of England, Northern Ireland, Scotland and Wales.

                </li>

            </ul>
            </p>

        </div>

    <div class="row" id="support_people">
            <h2>{% trans 'Contact Us' %}</h2>
            <p>
                {% blocktrans %}If you require help or have any queries, {% endblocktrans %}<a href="http://wiserd.ac.uk/about-us/contact-us/" target="_blank">{% trans 'Contact WISERD' %} <i class="fa fa-external-link"></i></a>
            </p>

        </div>
        <div class="row">
            <h2>{% trans 'Feedback' %}</h2>
            <p>
                {% blocktrans%}You can leave feedback using the <a href="https://cardiff.onlinesurveys.ac.uk/dataportal-lts" target="_blank">online survey here. <i class="fa fa-external-link"></i></a>{% endblocktrans %}
            </p>
        </div>
    </div>
{% endblock %}
