{% extends "navigation.html" %}
{% load staticfiles %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Welcome {{ user }}</h1>
            <h2>Thank you for signing up to the WISERD DataPortal</h2>
        </div>
    </div>

    <form role="form" action="{% url 'save_profile_extras' %}" enctype="multipart/form-data"
          method="POST" id="form_welcome_extras" >
        {% csrf_token %}

        <div class="row">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3>Please tell us more about yourself</h3>
                </div>
                <div class="panel-body">
                    <div class="control-group">
                        <label for="text_input_institution" class="control-label col-sm-4">Institution</label>
                        <div class="controls">
                <textarea type="text" class="input-block-level col-sm-8 tab_data_input"
                          name="institution" placeholder="Tell us where you're from"
                          id="text_input_institution" size="20"></textarea>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="text_input_specialty" class="control-label col-sm-4">Specialty</label>
                        <div class="controls">
                <textarea type="text" class="input-block-level col-sm-8 tab_data_input"
                          name="specialty"
                          placeholder="What are your research or professional interests in this service?"
                          id="text_input_specialty" size="20"></textarea>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <button type="submit">Save and continue</button>

    </form>


    <script>
        $(document).ready(function(){

        });
    </script>


{% endblock %}