{% extends "navigation.html" %}
{% load staticfiles %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Welcome {{ user }}</h1>
            <h2>Thank you for signing up to the WISERD DataPortal</h2>
        </div>
{#        <div>#}
{#            <p>#}
{#                {{ email }}#}
{#            </p>#}
{##}
{#            <p>#}
{#                regex_match_and_valid : {{ regex_match_and_valid }}#}
{#            </p>#}
{##}
{#            <p>#}
{#                verified : {{ verified }}#}
{#            </p>#}
{##}
{#            <p>#}
{#                matched : {{ matched }}#}
{#            </p>#}
{#        </div>#}
    </div>

    {% if matched and not verified %}
    <div id="naw_message" class="row">
        <div class="col-lg-12 col-md-6">
            <div class="alert alert-info alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <p>It looks like you have a valid NAW email address, but you haven't confirmed it in the email we sent you.</p>
                <p>Please follow the link in the email to gain access to the NAW Dashboard features.</p>
                <p>
                    If you haven't received a confirmation email <a href="{% url 'send_email_confirmation' %}" class="alert-link">Click here</a>
                </p>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-lg-12">

            <form role="form" action="{% url 'save_profile_extras' %}" enctype="multipart/form-data"
                  method="POST" id="form_welcome_extras" >
                {% csrf_token %}

                <div class="row">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3>Please tell us more about yourself</h3>
                        </div>
                        <div class="panel-body">
                            <div class="control-group">
                                <label for="text_input_institution" class="control-label col-sm-4">Institution/ Organisation</label>
                                <div class="controls">
                <textarea type="text" class="input-block-level col-sm-8 tab_data_input"
                          name="institution" placeholder="Tell us where you're from"
                          id="text_input_institution" size="20">{% if userr.institution %}{{ userr.institution }}{% endif %}</textarea>
                                </div>
                            </div>

                            <div class="control-group">
                                <label for="text_input_specialty" class="control-label col-sm-4">Area of Work</label>
                                <div class="controls">
                <textarea type="text" class="input-block-level col-sm-8 tab_data_input"
                          name="specialty"
                          placeholder="What are your research or professional interests in this service?"
                          id="text_input_specialty" size="20">{% if userr.specialty %}{{ userr.specialty }}{% endif %}</textarea>
                                </div>
                            </div>

                            <div class="control-group">
                                <label for="text_input_specialty" class="control-label col-sm-4">Sector</label>
                                <div class="controls">
                <textarea type="text" class="input-block-level col-sm-8 tab_data_input"
                          name="sector"
                          placeholder="eg academia, local government, voluntary?"
                          id="text_input_sector" size="20">{% if userr.sector %}{{ userr.sector }}{% endif %}</textarea>
                                </div>
                            </div>

                            <div class="control-group">
                                <label for="text_input_comments" class="control-label col-sm-4">Comments</label>
                                <div class="controls">
                <textarea type="text" class="input-block-level col-sm-8 tab_data_input"
                          name="comments"
                          placeholder="Any other comments about your position?"
                          id="text_input_comments" size="20">{% if userr.comments %}{{ userr.comments }}{% endif %}</textarea>
                                </div>
                            </div>

                            {% if regex_match_and_valid %}
                                <div class="control-group">
                                    <p>
                                        It looks like you have a valid NAW email address, would you like to enable NAW features for this account?
                                    </p>
                                    <label for="check_enable_naw" class="control-label col-sm-4">NAW</label>
                                    <div class="controls">
                                        <input type="checkbox" checked="checked" class="input-block-level col-sm-8 tab_data_input"
                                               id="check_enable_naw"/>
                                    </div>
                                </div>
                            {% endif %}
                <button type="submit">Save and continue</button>

                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>

    <script>
        $(document).ready(function(){

        });
    </script>


{% endblock %}