{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block extra_head %}
{% endblock %}

{% block navigation %}

    <script>
        $(document).ready(function () {
            $.cookie("WDP_view_type", "wep", {expires: 365, path: '/'});

            if ($.cookie("WDP_wep_returning_user")) {
                var view = parseInt($.cookie("WDP_wep_returning_user"));
                view += 1;
                $.cookie("WDP_wep_returning_user", view, {expires: 365, path: '/'});
            } else {
                $.cookie("WDP_wep_returning_user", 0, {expires: 365, path: '/'});
            }

            $('#help_intro').click(function(){
                do_intro('{{ LANGUAGE_CODE }}');
            });
        });
    </script>

    <link rel="stylesheet" type="text/css" href="{% static 'dataportal/wep.css' %}" />

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0; z-index: 2000">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">{% trans 'Toggle navigation' %}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a
                        class="navbar-brand"
                        href="{% url 'research_projects_dashboard' %}"
                        style="padding: 0 15px;">

                    {#                    <h4>Map For Wales</h4>#}
                    {#                        <i style="#}
                    {#                    max-height: inherit;#}
                    {#                            margin-left: 0.2em;#}
                    {#                                    padding: 0.1em;#}
                    {#                                    "#}
                    {#                                           class="fa fa-2x fa-map-o"></i>#}
                    {#                    <i style="#}
                    {#                    max-height: inherit;#}
                    {#                            margin-left: 0.2em;#}
                    {#                                    padding: 0.1em;#}
                    {#                                    "#}
                    {#                                           class="fa fa-2x fa-globe"></i>#}
                    <img src="{% static 'dataportal/media/WISERDEducationIcoNew.png' %}" style="height:2.6em">
                    <div class="navbar-brand-text">
                        <div>WISERD DataPortal</div>
                        <div class="navbar-version" id="version_tag">{% include 'version_number.html' %}</div>
                    </div>
                    {#                    </div>#}

                </a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">

                {% include 'lang_toggle.html' %}

                <li> | </li>

                <li>
                    <a href="#" id="help_intro">
                        <i class="">?</i>
                    </a>
                </li>


                {% block top_nav_extras %}
                {% endblock %}

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  {{ user }} <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">

                        <li><a href="https://cardiff.onlinesurveys.ac.uk/dataportal-lts" target="_blank"><i class="fa fa-comments-o fa-fw"></i> {% trans 'Give Feedback' %}</a></li>
                        <li class="divider"></li>
                        {% if request.user.is_superuser  %}
                            <li><a href="{% url 'site_setup' %}" target="_blank"><i class="fa fa-cogs fa-fw"></i> {% trans 'Site Setup' %}</a>
                            </li>
                            <li class="divider"></li>
                        {% endif %}

                        {% if request.user.is_staff %}
                            <li><a href="{% url 'admin:index' %}" target="_blank"><i class="fa fa-briefcase fa-fw"></i> {% trans 'Admin Panel' %}</a>
                            </li>
                            <li class="divider"></li>
                        {% endif %}

                        {% if request.user.is_authenticated %}
                            <li><a href="{% url 'profile' %}"><i class="fa fa-user fa-fw"></i> {% trans 'User Profile' %}</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out fa-fw"></i> {% trans 'Logout' %}</a></li>
                        {% else %}
                            <li><a href="{% url 'account_login' %}"><i class="fa fa-sign-in fa-fw"></i> {% trans 'Login' %}</a></li>
                        {% endif %}

                    </ul>
                </li>
            </ul>

            <div class="navbar-default sidebar" role="navigation">
                <div id="nav_bar_side" class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <form action="{% url 'search_survey_question_gui' %}" method="get" role="search">
                                <div class="input-group custom-search-form">
                                    <input type="text" class="form-control" placeholder="{% trans 'Search...' %}" name="search_terms">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                                </div>
                            </form>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="{% url 'research_projects_dashboard' %}"><i class="fa fa-dashboard fa-fw"></i> {% trans 'Project Dashboard' %}</a>
                        </li>

                        {% block nav_extras %}

                        {% endblock %}

                        {#                        <li>#}
                        {#                            <a href="{% url 'map' %}?tpt=wep"><i class="fa fa-globe fa-fw"></i> {% trans 'Map' %}</a>#}
                        {#                        </li>#}

                        <li>
                            <a href="{% url 'help_support' %}"><i class="fa fa-question-circle fa-fw"></i> {% trans 'Help and Support' %}</a>
                        </li>

                        <li id="Recent_Search_Results_li">
                            <a id="Recent_Search_Results_btn" href="#"><i class="fa fa-search fa-fw"></i> {% trans 'Recent Search Results' %}<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#"> {% trans 'Text Results' %}<span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        {% for s in searches.text|slice:":10" %}
                                            {% if s.type == 'text' %}
                                                <li>
                                                    <a href="{% url 'search_survey_question_gui' %}?search_terms={{ s.query }}">
                                                        {% if s.readable_name|length > 0 %}
                                                            {{ s.type }} - {{ s.readable_name }}
                                                        {% else %}
                                                            {{ s.type }} - {{ s.id }}
                                                        {% endif %}
                                                    </a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </li>
                                <li>
                                    <a href="#"> {% trans 'Spatial Results' %}<span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        {% for s in searches.spatial|slice:":10" %}
                                            {% if s.type == 'spatial' %}
                                                <li>
                                                    <a href="{% url 'tables' %}?search_id={{ s.uid }}">
                                                        {% if s.readable_name|length > 0 %}
                                                            {{ s.type }} - {{ s.readable_name }}
                                                        {% else %}
                                                            {{ s.type }} - {{ s.id }}
                                                        {% endif %}
                                                    </a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </li>
                                <li>
                                    <a href="#"> {% trans 'Surveys' %}<span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        {% for s in searches.survey %}
                                            {% if s.type == 'survey' %}
                                                <li>
                                                    <a href="{% url 'survey_detail' survey_id=s.query %}">{{s.query}}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                                <li>
                                    <a href="#"> {% trans 'Questions' %}<span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        {% for s in searches.question %}
                                            {% if s.type == 'question' %}
                                                <li>
                                                    <a href="{% url 'question_detail' question_id=s.query %}">{{s.query}}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                            {#                        </li>#}

                        <li id="Recent_Search_Results_li">
                            <a id="Recent_Search_Results_btn" href="#"><i class="fa fa-tags fa-fw"></i> {% trans 'Suggested Search Terms' %}<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <div class="wep_filter_btn" data-filter-term="Background variables"><i class="fa fa-user fa-fw"></i> {% trans 'Background variables' %}</div>
                                </li>
                                <li>
                                    <div class="wep_filter_btn" data-filter-term="School and learning"><i class="fa fa-graduation-cap fa-fw"></i> {% trans 'School and learning' %}</div>
                                </li>
                                <li>
                                    <div class="wep_filter_btn" data-filter-term="Family, friends and relationships"><i class="fa fa-users fa-fw"></i> {% trans 'Family, friends and relationships' %}</div>
                                </li>
                                <li>
                                    <div class="wep_filter_btn" data-filter-term="Out of school activities and routines"><i class="fa fa-users fa-fw"></i> {% trans 'Out of school activities and routines' %}</div>
                                </li>
                                <li>
                                    <div class="wep_filter_btn" data-filter-term="Wellbeing"><i class="fa fa-users fa-fw"></i> {% trans 'Wellbeing' %}</div>
                                </li>
                                <li>
                                    <div class="wep_filter_btn" data-filter-term="Confdence and aspirations"><i class="fa fa-users fa-fw"></i> {% trans 'Confidence and aspirations' %}</div>
                                </li>
                                <li>
                                    <div class="wep_filter_btn" data-filter-term="Politics and society"><i class="fa fa-users fa-fw"></i> {% trans 'Politics and society' %}</div>
                                </li>
                            </ul>

                            <!-- /.nav-second-level -->
                            {#                        </li>#}

                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper" class="page-wrapper">
            {% block content %}
            {% endblock %}

        </div>
        <!-- /#page-wrapper -->

    </div>


{% endblock %}
