.leaflet-top {
    z-index: 500;
}

.leaflet-bottom .leaflet-right {
    max-height: 50%;
    overflow: scroll;
}

#remote_search_btn {
    font-size: 14px;
}

#search-remote-form > table > tbody > tr > td > select {
    width: 100%;
}

.custom-search-form {
    padding: 2px
}

#data_cell_radio > div > div > label {
    width: 100%;
}

#topojson_geography_radio > div > label {
    width: 100%;
}

#dataset_radio > div > label {
    width: 100%;
}

.dataset_ul > li { background: #fff; }
.dataset_ul > li:nth-child(odd) { background: #f5f5f5; }

.ui-dialog {
    z-index: 1001;
}

#login_panel > div > ul {
    list-style: none;
    padding-left:0;
}

.dataTable_wrapper {
    width: 100%;
}

.dataTable_wrapper > table {
    width: 100%;
}

.north_arrow {
    font-family: cursive;
    color: #777;
    font-size: 26px;
    line-height: 30px;
}

.arrow_center {
    padding-left: 0.13em;
}

.dialog_radio_option {
    width: 100%
}

.legend {

    /*position: fixed;*/
    /*display: block;*/
    /*bottom: 20px;*/

    /*max-width: 80%;*/
    /*width: -moz-min-content;*/
    /*width: -webkit-min-content;*/
    /*width: min-content;*/
}

.legend_accordion {
    resize: both;
          overflow: auto;
}

.panel-group {
    margin-bottom: 5px;
}

/*.info {*/
    /*max-width: 80%;*/
    /*width: -moz-min-content;*/
    /*width: -webkit-min-content;*/
    /*width: min-content;*/
/*}*/

.panel-purple {
    border-color: rebeccapurple;
}

.panel-purple .panel-heading {
    color: white;
    border-color: rebeccapurple;
    background-color: rebeccapurple;
}
.panel-purple .panel-footer {
    color: rebeccapurple;
}